@import "./mixin";
$bgColor: #dde3f6;
$deepColor: #6f76c1;
$lightColor: #e6e0ec;
@include desktop {
  .wrap {
    width: 100%;
    height: 100vh;
    padding-top: 7rem;
    background-color: $bgColor;
    .mobile-slider {
      display: none;
    }
    .main {
      width: 100%;
      height: 100%;
      font-size: 20px;
      box-sizing: border-box;
      .main-img {
        width: 1300px;
        height: 700px;
        background-image: url(/public/img/img-main-full.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 93%;
        margin: 0.5rem auto;
        position: relative;
        animation: fadein 2s;
        .connect-with-btn {
          width: 150px;
          height: 150px;
          color: $deepColor;
          border-radius: 50%;
          position: absolute;
          top: 40px;
          right: 570px;
          text-align: center;
          &:hover {
            .connect-with-rectangle {
              display: block;
              animation: fadein 1s;
            }
          }
          .connect-with-rectangle {
            width: 196px;
            height: 116px;
            line-height: 92px;
            background: url(/public/img/bg-rectangle@3x.png) no-repeat center /
              cover;
            display: none;
            position: absolute;
            top: -70px;
            right: -27px;
          }
        }
        .main-item {
          width: 100%;
          height: auto;
          display: flex;
          color: $deepColor;
          .main-item-list {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            position: relative;
            &:hover {
              .main-item-list-rectangle {
                display: block;
                animation: fadein 1s;
              }
            }
            .main-item-list-rectangle {
              width: 196px;
              height: 116px;
              line-height: 92px;
              background: url(/public/img/bg-rectangle@3x.png) no-repeat
                center/cover;
              position: absolute;
              text-align: center;
              display: none;
            }
          }
          .main-item-list:nth-child(1) {
            //교육장이동  (말풍선)
            top: 200px;
            left: 280px;
            .main-item-list-rectangle {
              top: -92px;
              left: -20px;
            }
          }
          .main-item-list:nth-child(2) {
            //교욱안내 (hover 영역)
            top: 150px;
            left: 620px;
            .main-item-list-rectangle {
              top: -80px;
              right: -30px;
            }
          }
          .main-item-list:nth-child(3) {
            //진단 (hover 영역)
            top: 250px;
            left: 660px;
            .main-item-list-rectangle {
              top: -80px;
              right: -10px;
            }
          }
          .main-item-list:nth-child(4) {
            //역량학습 (hover 영역)
            top: 250px;
            left: 120px;
            .main-item-list-rectangle {
              top: -80px;
              right: -30px;
            }
          }
          .main-item-list:nth-child(5) {
            //케미스트리 (hover 영역)
            top: 350px;
            right: 180px;
            .main-item-list-rectangle {
              top: -70px;
              right: 15px;
            }
          }
          .main-item-list:nth-child(6) {
            //멘토링 (hover 영역)
            top: 350px;
            right: 0px;
            .main-item-list-rectangle {
              top: -100px;
              left: 0px;
            }
          }
          .main-item-list:nth-child(7) {
            //게시판 (hover 영역)
            top: 440px;
            right: 320px;
            .main-item-list-rectangle {
              top: -80px;
              right: -12px;
            }
          }
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@include tablet {
  .main {
    display: none;
  }
  .mobile-slider {
    background-color: $bgColor;
    padding: 30px 0 0 0;
    width: 100%;
    .onandup-swiper-box {
      height: 100vh;
      .swiper {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        font-size: 18px;
        color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 40px 60px;
      }
      .parallax-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 130%;
        height: 100%;
        -webkit-background-size: contain;
        background-size: 120%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .connect-with-btn {
    background-color: aqua;
  }
}

@include mobile {
  .main {
    display: none;
  }
  .mobile-slider {
    background-color: $bgColor;
    padding: 30px 0 0 0;
    width: 100%;
    .onandup-swiper-box {
      height: 100vh;
      .swiper {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        font-size: 18px;
        color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 40px 60px;
      }
      .parallax-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 130%;
        height: 100%;
        -webkit-background-size: contain;
        background-size: 160%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .connect-with-btn {
    background-color: aqua;
  }
}
