@media (min-width: 1024px) {
  .wrap {
    width: 100%;
    height: 100vh;
    padding-top: 7rem;
    background-color: #dde3f6;
  }
  .wrap .mobile-slider {
    display: none;
  }
  .wrap .main {
    width: 100%;
    height: 100%;
    font-size: 20px;
    box-sizing: border-box;
  }
  .wrap .main .main-img {
    width: 1300px;
    height: 700px;
    background-image: url(/public/img/img-main-full.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 93%;
    margin: 0.5rem auto;
    position: relative;
    -webkit-animation: fadein 2s;
            animation: fadein 2s;
  }
  .wrap .main .main-img .connect-with-btn {
    width: 150px;
    height: 150px;
    color: #6f76c1;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: 570px;
    text-align: center;
  }
  .wrap .main .main-img .connect-with-btn:hover .connect-with-rectangle {
    display: block;
    -webkit-animation: fadein 1s;
            animation: fadein 1s;
  }
  .wrap .main .main-img .connect-with-btn .connect-with-rectangle {
    width: 196px;
    height: 116px;
    line-height: 92px;
    background: url(/public/img/bg-rectangle@3x.png) no-repeat center/cover;
    display: none;
    position: absolute;
    top: -70px;
    right: -27px;
  }
  .wrap .main .main-img .main-item {
    width: 100%;
    height: auto;
    display: flex;
    color: #6f76c1;
  }
  .wrap .main .main-img .main-item .main-item-list {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
  }
  .wrap .main .main-img .main-item .main-item-list:hover .main-item-list-rectangle {
    display: block;
    -webkit-animation: fadein 1s;
            animation: fadein 1s;
  }
  .wrap .main .main-img .main-item .main-item-list .main-item-list-rectangle {
    width: 196px;
    height: 116px;
    line-height: 92px;
    background: url(/public/img/bg-rectangle@3x.png) no-repeat center/cover;
    position: absolute;
    text-align: center;
    display: none;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(1) {
    top: 200px;
    left: 280px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(1) .main-item-list-rectangle {
    top: -92px;
    left: -20px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(2) {
    top: 150px;
    left: 620px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(2) .main-item-list-rectangle {
    top: -80px;
    right: -30px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(3) {
    top: 250px;
    left: 660px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(3) .main-item-list-rectangle {
    top: -80px;
    right: -10px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(4) {
    top: 250px;
    left: 120px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(4) .main-item-list-rectangle {
    top: -80px;
    right: -30px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(5) {
    top: 350px;
    right: 180px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(5) .main-item-list-rectangle {
    top: -70px;
    right: 15px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(6) {
    top: 350px;
    right: 0px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(6) .main-item-list-rectangle {
    top: -100px;
    left: 0px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(7) {
    top: 440px;
    right: 320px;
  }
  .wrap .main .main-img .main-item .main-item-list:nth-child(7) .main-item-list-rectangle {
    top: -80px;
    right: -12px;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .main {
    display: none;
  }
  .mobile-slider {
    background-color: #dde3f6;
    padding: 30px 0 0 0;
    width: 100%;
  }
  .mobile-slider .onandup-swiper-box {
    height: 100vh;
  }
  .mobile-slider .onandup-swiper-box .swiper {
    width: 100%;
    height: 100%;
  }
  .mobile-slider .onandup-swiper-box .swiper-slide {
    font-size: 18px;
    color: #fff;
    box-sizing: border-box;
    padding: 40px 60px;
  }
  .mobile-slider .onandup-swiper-box .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .connect-with-btn {
    background-color: aqua;
  }
}
@media (min-width: 335px) and (max-width: 757px) {
  .main {
    display: none;
  }
  .mobile-slider {
    background-color: #dde3f6;
    padding: 30px 0 0 0;
    width: 100%;
  }
  .mobile-slider .onandup-swiper-box {
    height: 100vh;
  }
  .mobile-slider .onandup-swiper-box .swiper {
    width: 100%;
    height: 100%;
  }
  .mobile-slider .onandup-swiper-box .swiper-slide {
    font-size: 18px;
    color: #fff;
    box-sizing: border-box;
    padding: 40px 60px;
  }
  .mobile-slider .onandup-swiper-box .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    background-size: 160%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .connect-with-btn {
    background-color: aqua;
  }
}/*# sourceMappingURL=main.css.map */