@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@media (min-width: 1024px) {
  .link-item {
    width: 100%;
    height: 100%;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    display: flex;
  }
  .link-item .item-list {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .link-item .item-list .title {
    margin-top: 20%;
    line-height: 30px;
    font-size: 2rem;
    padding: 3rem 2rem;
    font-weight: 600;
  }
  .link-item .item-list .content {
    font-size: 1rem;
    padding: 1.5rem 2rem;
    line-height: 1.3rem;
  }
  .link-item .item-list .img {
    width: 100%;
    height: auto;
  }
  .link-item .item-list .img img {
    width: 350px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .link-item .item-list .img img:hover {
    transition-duration: 0.5s;
    transform: scale(120%);
  }
  .link-item:nth-child(2n+1) {
    background-color: #e6e0ec;
    color: #6f76c1;
  }
  .link-item:nth-child(2n) {
    background-color: #6f76c1;
    color: #e6e0ec;
  }
  .link-item:nth-child(1) {
    -webkit-animation-name: move1;
            animation-name: move1;
  }
  .link-item:nth-child(2) {
    -webkit-animation-name: move2;
            animation-name: move2;
  }
  .link-item:nth-child(3) {
    -webkit-animation-name: move3;
            animation-name: move3;
  }
  .link-item:nth-child(4) {
    -webkit-animation-name: move4;
            animation-name: move4;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .link-item {
    width: 100%;
    height: 100%;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    display: flex;
  }
  .link-item .item-list {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .link-item .item-list .title {
    margin-top: 20%;
    line-height: 30px;
    font-size: 1.3rem;
    padding: 3rem 2rem;
    font-weight: 600;
  }
  .link-item .item-list .content {
    font-size: 1rem;
    line-height: 20px;
    padding: 1.5rem 2rem;
    line-height: 1.3rem;
  }
  .link-item .item-list .img {
    width: 100%;
    height: auto;
  }
  .link-item .item-list .img img {
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .link-item .item-list .img img:hover {
    transition-duration: 0.5s;
    transform: scale(120%);
  }
  .link-item:nth-child(2n+1) {
    background-color: #e6e0ec;
    color: #6f76c1;
  }
  .link-item:nth-child(2n) {
    background-color: #6f76c1;
    color: #e6e0ec;
  }
  .link-item:nth-child(1) {
    -webkit-animation-name: move1;
            animation-name: move1;
  }
  .link-item:nth-child(2) {
    -webkit-animation-name: move2;
            animation-name: move2;
  }
  .link-item:nth-child(3) {
    -webkit-animation-name: move3;
            animation-name: move3;
  }
  .link-item:nth-child(4) {
    -webkit-animation-name: move4;
            animation-name: move4;
  }
}
@media (min-width: 335px) and (max-width: 757px) {
  .link-item {
    width: 100%;
    height: 100%;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    display: flex;
  }
  .link-item .item-list {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
  }
  .link-item .item-list .title {
    margin-top: 5%;
    font-size: 2.5rem;
    padding: 1.5rem 1rem;
    font-weight: 600;
  }
  .link-item .item-list .content {
    width: 30%;
    font-size: 1rem;
    padding: 1rem 1.2rem;
    line-height: 30px;
  }
  .link-item .item-list .img {
    width: 80%;
    height: auto;
  }
  .link-item .item-list .img img {
    width: 370px;
    height: 250px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .link-item:nth-child(2n+1) {
    background-color: #e6e0ec;
    color: #6f76c1;
  }
  .link-item:nth-child(2n) {
    background-color: #6f76c1;
    color: #e6e0ec;
  }
  .link-item:nth-child(1) {
    -webkit-animation-name: move1;
            animation-name: move1;
  }
  .link-item:nth-child(2) {
    -webkit-animation-name: move2;
            animation-name: move2;
  }
  .link-item:nth-child(3) {
    -webkit-animation-name: move3;
            animation-name: move3;
  }
  .link-item:nth-child(4) {
    -webkit-animation-name: move4;
            animation-name: move4;
  }
}
@-webkit-keyframes move1 {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes move1 {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes move2 {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes move2 {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes move3 {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes move3 {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes move4 {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes move4 {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}/*# sourceMappingURL=connectItem.css.map */