$bgColor: #dde3f6;
$deepColor: #6f76c1;
$lightColor: #e6e0ec;
.connectwith-item-form {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  box-sizing: border-box;
  .connectwith-item-inner {
    max-width: 1200px;
    height: 100vw;
    margin: 30px auto;
    padding: 50px 30px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 9%);
    position: relative;
    animation: fadein 1s;
    .connectwith-item-img {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 0px;
      right: -47px;
      img {
        width: 570px;
        height: 390px;
      }
    }
    .connectwith-item-text {
      width: 100%;
      height: 15%;
      margin: 30px 50px;
      .connectwith-item-location {
        width: 100%;
        height: auto;
        font-size: 15px;
        color: #ccc;
        position: relative;
        margin-left: 20px;
        &::before {
          content: " ";
          width: 17px;
          height: 17px;
          top: 0px;
          left: -20px;
          position: absolute;
          background: url(/public/img/ic-check-on.png) no-repeat center / cover;
          margin-right: 20px;
        }
      }
      .connectwith-item-title {
        width: 100%;
        font-size: 3rem;
        font-weight: 600;
        color: rgba(111, 118, 193, 1);
        margin-top: 7rem;
        .connectwith-item-eng-title {
          margin-left: 1.5rem;
          font-size: 2.2rem;
          color: $lightColor;
          font-weight: 300;
        }
      }
      .connectwith-item-contents {
        width: 70%;
        font-size: 1.2rem;
        color: #ccc;
        margin-top: 40px;
      }
    }
  }
}
