@import "./mixin";
$bgColor: #dde3f6;
$deepColor: #6f76c1;
$lightColor: #e6e0ec;
@include desktop {
  .connectwith-item-form {
    width: 100%;
    height: 100%;
    padding-top: 4.35rem;
    box-sizing: border-box;
    .connectwith-item-inner {
      max-width: 80%;
      height: 130vw;
      margin: 1.875rem auto;
      padding: 3.125rem 1.875rem;
      border-radius: 20px;
      background: #fff;
      box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 9%);
      position: relative;
      animation: fadein 1s;
      .connectwith-item-img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        img {
          width: 570px;
          height: 390px;
          position: absolute;
          top: 0px;
          right: -50px;
        }
      }
      .connectwith-item-text {
        width: 100%;
        height: 15%;
        margin: 1.875rem 3.125rem;
        .connectwith-item-location {
          width: 100%;
          height: auto;
          font-size: 15px;
          color: #ccc;
          position: relative;
          margin-left: 1.25rem;
          &::before {
            content: " ";
            width: 17px;
            height: 17px;
            top: 0px;
            left: -20px;
            position: absolute;
            background: url(/public/img/ic-check-on.png) no-repeat center /
              cover;
            margin-right: 1.25rem;
          }
        }
        .connectwith-item-title {
          width: 100%;
          font-size: 3rem;
          font-weight: 600;
          color: rgba(111, 118, 193, 1);
          margin-top: 7rem;
          .connectwith-item-eng-title {
            margin-left: 1.5rem;
            font-size: 2.2rem;
            color: $lightColor;
            font-weight: 300;
          }
        }
        .connectwith-item-contents {
          width: 70%;
          height: 1%;
          font-size: 1.2rem;
          color: #ccc;
          margin-top: 2.5rem;
        }
      }
    }
  }
}
@include tablet {
  .connectwith-item-form {
    width: 100%;
    height: 100%;
    padding-top: 4.375rem;
    box-sizing: border-box;
    .connectwith-item-inner {
      max-width: 80%;
      height: 150vw;
      margin: 1.875rem auto;
      padding: 3.125rem 1.875rem;
      border-radius: 20px;
      background: #fff;
      box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 9%);
      position: relative;
      animation: fadein 1s;
      .connectwith-item-img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        img {
          width: 370px;
          height: 250px;
          position: absolute;
          top: 0px;
          right: -30px;
        }
      }
      .connectwith-item-text {
        width: 100%;
        height: 15%;
        margin: 1.875rem 3.125rem;
        .connectwith-item-location {
          width: 100%;
          height: auto;
          font-size: 0.813rem;
          color: #ccc;
          position: relative;
          margin-left: 1.25rem;
          &::before {
            content: " ";
            width: 17px;
            height: 17px;
            top: 0px;
            left: -20px;
            position: absolute;
            background: url(/public/img/ic-check-on.png) no-repeat center /
              cover;
            margin-right: 1.25rem;
          }
        }
        .connectwith-item-title {
          width: 100%;
          font-size: 2.2rem;
          font-weight: 600;
          color: rgba(111, 118, 193, 1);
          margin-top: 4rem;
          .connectwith-item-eng-title {
            margin-left: 1.5rem;
            font-size: 1.5rem;
            color: $lightColor;
            font-weight: 300;
          }
        }
        .connectwith-item-contents {
          width: 70%;
          height: 1%;
          font-size: 1.2rem;
          color: #ccc;
          margin-top: 2.5rem;
        }
      }
    }
  }
}
@include mobile {
  .connectwith-item-form {
    width: 100%;
    height: auto;
    padding-top: 4.375rem;
    box-sizing: border-box;
    .connectwith-item-inner {
      max-width: 80%;
      height: 140vw;
      margin: 1.875rem auto;
      padding: 2.125rem 1.875rem;
      border-radius: 20px;
      background: #fff;
      box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 9%);
      position: relative;
      animation: fadein 1s;
      .connectwith-item-img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        img {
          width: 270px;
          height: 180px;
          position: absolute;
          top: 0px;
          right: -25px;
        }
      }
      .connectwith-item-text {
        width: 100%;
        height: 15%;
        margin: 1.875rem 1.525rem;
        .connectwith-item-location {
          width: 100%;
          height: auto;
          font-size: 0.688rem;
          color: #ccc;
          position: relative;
          margin-left: 1.25rem;
          &::before {
            content: " ";
            width: 17px;
            height: 17px;
            top: 0px;
            left: -20px;
            position: absolute;
            background: url(/public/img/ic-check-on.png) no-repeat center /
              cover;
            margin-right: 1.25rem;
          }
        }
        .connectwith-item-title {
          width: 100%;
          font-size: 1.2rem;
          font-weight: 600;
          color: rgba(111, 118, 193, 1);
          margin-top: 3rem;
          .connectwith-item-eng-title {
            margin-left: 1.5rem;
            font-size: 1rem;
            color: $lightColor;
            font-weight: 300;
          }
        }
        .connectwith-item-contents {
          width: 70%;
          font-size: 0.8rem;
          color: #ccc;
          margin-top: 1.25rem;
        }
      }
    }
  }
}
