.abilityBtns {
  width: 100%;
  text-align: center;
}
.abilityBtns .active button {
  box-shadow: 1px 1px 5px 3px #ddd;
  background-color: #4c539a;
  color: #fff;
}

.abilityBtns button {
  margin-right: 30px;
  box-shadow: 1px 1px 5px 3px #ddd;
  background-color: #fff;
  color: gray;
}

.module_box {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.module_box a {
  width: 22%;
}

.module_card {
  width: 100%;
  height: 270px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.module_card:hover {
  text-decoration: none;
}

.module_cardImg {
  width: 100%;
  height: 100%;
}
.module_cardImg .cardImg_background {
  width: 100%;
  height: 120px;
  position: relative;
}
.module_cardImg .cardImg_background .module_Img_bg {
  width: 150px;
  float: right;
  z-index: 11;
}
.module_cardImg .cardImg_background .module_Img {
  width: 75%;
  height: 120px;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 12;
}

.module_cardTitle_txt {
  padding-left: 3px;
}
.module_cardTitle_txt .module_cardTitle {
  font-size: 14px;
  color: #4C539A;
  font-weight: bold;
  padding-bottom: 5px;
}
.module_cardTitle_txt .module_cardTitle_sub {
  font-size: 12px;
  color: #888;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detail_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.module_detail_summary {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.module_detail_summary img {
  width: 150px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #ddd;
}
.module_detail_summary .module_detail_text {
  padding-left: 50px;
  width: calc(100% - 150px);
}
.module_detail_summary .module_detail_text div {
  margin-bottom: 20px;
}

.detail_cardNews {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.detail_cardNews .detail_cardNews_title {
  font-size: 17px;
  margin-bottom: 50px;
  margin-left: 8px;
}
.detail_cardNews .detail_content {
  width: 100%;
  display: flex;
}
.detail_cardNews .detail_content_cardNews {
  height: 400px;
  width: 30%;
  margin-right: 5%;
  cursor: pointer;
}
.detail_cardNews .detail_content_microLearning {
  height: 400px;
  width: 65%;
  cursor: pointer;
}
.detail_cardNews .detail_content_cardNews_img {
  width: 100%;
  height: 320px;
}
.detail_cardNews .detail_content_cardNews_title {
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  z-index: 999;
}

.detail_practice {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.detail_practice .detail_practice_title {
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: 8px;
}
.detail_practice .detail_practice_desc {
  color: gray;
  margin-left: 5px;
}
.detail_practice .detail_practice_textArea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #ddd;
  margin-bottom: 15px;
}
.detail_practice .tempSaveBtn {
  width: 70px;
  height: 25px;
  border-radius: 3px;
  background-color: #fff;
  margin-right: 5px;
  border: 0.5px solid #888;
  cursor: pointer;
}
.detail_practice .detail_practice_btnArea {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.detail_practice .writeBtn {
  width: 70px;
  height: 25px;
  border-radius: 3px;
  background-color: #4c539a;
  color: #fff;
  cursor: pointer;
}

.submitBtnArea {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.submitBtn {
  width: 70px;
  height: 25px;
  border-radius: 3px;
  background-color: #4c539a;
  color: #fff;
}

.aboutCompany_detail_summary {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px 30px;
  margin-bottom: 50px;
}
.aboutCompany_detail_summary img {
  width: 500px;
  height: 250px;
  border-radius: 10px;
}
.aboutCompany_detail_summary .aboutCompany_detail_text {
  padding: 25px;
  margin-left: 50px;
  width: calc(100% - 150px);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #ddd;
}
.aboutCompany_detail_summary .aboutCompany_detail_title {
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: bold;
}
.aboutCompany_detail_summary .learning {
  font-size: 13px;
  padding-bottom: 5px;
}
.aboutCompany_detail_summary .learning div {
  padding-top: 3px;
  font-size: 12px;
}
.aboutCompany_detail_summary .basic {
  font-size: 12px;
}
.aboutCompany_detail_summary .basic div {
  padding-top: 3px;
  font-size: 12px;
}

.ModalCards .ModalCards_btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.ModalCards .ModalCards_btn button {
  font-size: 17px;
}
.ModalCards .ModalCards_Title {
  text-align: center;
  width: 80%;
  border-bottom: 1px solid #888;
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 13px;
}
.ModalCards .ModalCards_swiper {
  width: 100%;
  margin-top: 50px;
}
.ModalCards .ModalCards_microLearning {
  width: 80%;
  margin: auto;
}
.ModalCards .ModalCards_microLearning img {
  width: 100%;
}

.swiper {
  width: 100%;
  height: 300px;
  background-color: #fff;
}

.swiper-slide {
  flex-shrink: unset;
  height: 250px;
  cursor: pointer;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background: red !important;
}

.swiper-pagination-bullet-active {
  background: yellow !important;
}

.swiper-button-next, .swiper-button-prev {
  color: gray;
}/*# sourceMappingURL=ability.css.map */