.abilityBtns {
    width: 100%;
    text-align: center;

    .active button {
        box-shadow: 1px 1px 5px 3px #ddd;
        background-color: #4c539a;
        color: #fff;
    }
    
}
.abilityBtns button {
    margin-right: 30px;
    box-shadow: 1px 1px 5px 3px #ddd;
    background-color: #fff;
    color: gray;
}
.module_box {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        width: 22%;
    }
}
.module_card {
    width: 100%;
    height: 270px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px #ddd;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.module_card:hover {
    
    text-decoration: none;
}
.module_cardImg {
    width: 100%;
    height: 100%;
    .cardImg_background {
        width: 100%;
        height: 120px;
        position: relative;

        .module_Img_bg {
            width: 150px;
            float: right;
            z-index: 11;
        }
        .module_Img {
            width: 75%;
            height: 120px;
            position: absolute;
            top: 20px;
            right: 10px;
            z-index: 12;
        }
    }
}
.module_cardTitle_txt{
    display: flex;
    align-items: flex-end;

    .module_cardTitle {
        font-size: 14px;
        color: #4C539A;
        font-weight: bold;
    }
    .module_cardTitle_sub {
        font-size: 12px;
        color: #888;
        padding-left: 5px;
    }
}
.detail_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.module_detail_summary {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    img {
        width: 150px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 3px #ddd;
    }

    .module_detail_text {
        padding-left: 50px;
        width: calc(100% - 150px);

        div {
            margin-bottom: 20px;
        }
    }
}
.detail_cardNews {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    .detail_cardNews_title {
        font-size: 17px;
        margin-bottom: 50px;
        margin-left: 8px;
    }
}
.swiper {
    width: 70%;
    height: 200px;
    background-color: lightgray;
    margin: 0;
}
.swiper .swiper-slide {
    width: 100%;
    height: 200px;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }
}
.swiper-pagination-bullet {
    background: red !important;
}
.swiper-pagination-bullet-active {
background: yellow !important;
}
.ReactModal__Body--open,
.ReactModal__Html--open {
  z-index: 999;
}
.detail_practice {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    .detail_practice_title {
        font-size: 17px;
        margin-bottom: 10px;
        margin-left: 8px;
    }

    .detail_practice_desc {
        color: gray;
        margin-left: 5px;
    }

    .detail_practice_textArea {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 3px #ddd;
        margin-bottom: 15px;
    }

    .tempSaveBtn {
        width: 70px;
        height: 25px;
        border-radius: 3px;
        background-color: #fff;
        margin-right: 5px;
        border: 0.5px solid #888;
    }

    .detail_practice_btnArea {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .writeBtn {
        width: 70px;
        height: 25px;
        border-radius: 3px;
        background-color: #4c539a;
        color: #fff;
    }
}
.submitBtnArea {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.submitBtn {
    width: 70px;
    height: 25px;
    border-radius: 3px;
    background-color: #4c539a;
    color: #fff;
}
.aboutCompany_detail_summary {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 30px;
    margin-bottom: 50px;

    img {
        width: 500px;
        height: 250px;
        border-radius: 10px;
    }
    .aboutCompany_detail_text {
        padding: 25px;
        margin-left: 50px;
        width: calc(100% - 150px);
        border-radius: 10px;
        box-shadow: 1px 1px 5px 3px #ddd;
    }
    .aboutCompany_detail_title {
        font-size: 17px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .learning{
        font-size: 13px;
        padding-bottom: 5px;
        div {
            padding-top: 3px;
            font-size: 12px;
        }
    }
    .basic{
        font-size: 12px;
        div {
            padding-top: 3px;
            font-size: 12px;
        }
    }
}
.ModalCards{
    .ModalCards_Title{
    text-align: center;
    width: 80%;
    border-bottom: 1px solid #888;
    margin: 20px auto;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 13px;
    }
}