.abilityBtns {
  width: 100%;
  text-align: center;
}
.abilityBtns .active button {
  box-shadow: 1px 1px 5px 3px #ddd;
  background-color: rgb(111, 118, 193);
  color: #fff;
}

.abilityBtns button {
  margin-right: 30px;
  box-shadow: 1px 1px 5px 3px #ddd;
  background-color: #fff;
  color: gray;
}

.module_box {
  width: 1000px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}
.module_box a {
  width: 235px;
  margin-right: 20px;
}
.module_box a:nth-child(4n) {
  margin-right: 0;
}

.module_card {
  width: 100%;
  height: 320px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.module_card :hover .module_card_hover {
  width: 100%;
  height: 150px;
  transform: translate(0, -150px);
  transition: all ease 0.05s;
}

.module_cardImg {
  width: 100%;
  height: 100%;
}
.module_cardImg .cardImg_background {
  width: 100%;
  height: 100%;
}
.module_cardImg .cardImg_background Img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.module_card_hover {
  position: absolute;
  width: 100%;
  left: -30px;
  height: 50px;
  background-color: rgba(111, 118, 193, 0.5);
  z-index: 5;
  border-radius: 100%;
}

.module_cardTitle_txt {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}
.module_cardTitle_txt .module_cardTitle {
  font-size: 15px;
  color: rgb(111, 118, 193);
  font-weight: bold;
  padding-bottom: 10px;
}
.module_cardTitle_txt .module_cardTitle_sub {
  font-size: 13px;
  color: #888;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail_container {
  width: 100%;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.module_detail_summary {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.module_detail_summary img {
  width: 150px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #ddd;
}
.module_detail_summary .module_detail_text {
  padding-left: 50px;
  width: calc(100% - 150px);
}
.module_detail_summary .module_detail_text div {
  margin-bottom: 20px;
}

.detail_cardNews {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}
.detail_cardNews .detail_cardNews_title {
  padding-left: 5px;
  margin-bottom: 30px;
  margin-left: 8px;
  color: rgb(111, 118, 193);
  font-size: 22px;
  font-weight: bold;
}
.detail_cardNews .detail_content {
  width: 100%;
  display: flex;
}
.detail_cardNews .detail_content_cardNews {
  width: 30%;
  margin-right: 3%;
  cursor: pointer;
}
.detail_cardNews .detail_content_cardNews img {
  min-width: 270px;
  box-shadow: 0px 11px 23px -9px rgba(0, 0, 0, 0.38);
}
.detail_cardNews .detail_content_microLearning {
  width: 70%;
  cursor: pointer;
}
.detail_cardNews .detail_content_microLearning img {
  box-shadow: 0px 11px 23px -9px rgba(0, 0, 0, 0.38);
}
.detail_cardNews .detail_content_cardNews_img {
  width: 100%;
  height: 320px;
  border-radius: 15px;
}
.detail_cardNews .detail_content_cardNews_title {
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

.beforeTest_question .beforeTest_question_g {
  font-size: 16px;
  line-height: 1.2;
}

.detail_practice {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.detail_practice .detail_practice_title {
  margin-left: 5px;
  color: rgb(111, 118, 193);
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}
.detail_practice .detail_practice_desc {
  color: gray;
  margin-left: 5px;
  margin-bottom: 30px;
}
.detail_practice .detail_practice_textArea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #ddd;
  margin-bottom: 15px;
}
.detail_practice .deleteBtn, .detail_practice .tempSaveBtn {
  min-width: 130px;
  width: 6.843vw;
  height: 25px;
  border-radius: 3px;
  background-color: #fff;
  margin-right: 5px;
  border: 0.5px solid #d0d0d0;
  cursor: pointer;
}
.detail_practice .detail_practice_btnArea {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.detail_practice .writeBtn {
  min-width: 130px;
  width: 6.843vw;
  height: 25px;
  border-radius: 3px;
  background-color: rgb(111, 118, 193);
  color: #fff;
  cursor: pointer;
}

.submitBtnArea {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.submitBtn {
  width: 70px;
  height: 25px;
  border-radius: 3px;
  background-color: rgb(111, 118, 193);
  color: #fff;
}

.aboutCompany_detail_summary {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 50px 0 150px;
}
.aboutCompany_detail_summary img {
  width: 30%;
  height: 250px;
  border-radius: 10px;
  margin-right: 3%;
  box-shadow: 0px 11px 23px -9px rgba(0, 0, 0, 0.38);
}
.aboutCompany_detail_summary .aboutCompany_detail_text {
  padding: 30px 25px 25px;
  width: calc(100% - 150px);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #ddd;
}
.aboutCompany_detail_summary .aboutCompany_detail_title {
  margin-bottom: 30px;
  font-weight: 500;
  color: rgb(111, 118, 193);
  font-size: 22px;
  font-weight: bold;
}
.aboutCompany_detail_summary .aboutCompany_detail_goal {
  display: flex;
  font-size: 14px;
  padding-bottom: 14px;
  line-height: 1.2;
  width: 100%;
}
.aboutCompany_detail_summary .aboutCompany_detail_goal dt {
  width: 10%;
  font-weight: bold;
}
.aboutCompany_detail_summary .aboutCompany_detail_goal dd {
  width: 90%;
}
.aboutCompany_detail_summary .aboutCompany_detail_concept {
  display: flex;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
}
.aboutCompany_detail_summary .aboutCompany_detail_concept dt {
  width: 10%;
  font-weight: bold;
}
.aboutCompany_detail_summary .aboutCompany_detail_concept dd {
  width: 90%;
}

.ModalCards {
  position: relative;
}
.ModalCards .ModalCards_btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.ModalCards .ModalCards_btn button {
  font-size: 17px;
}
.ModalCards .ModalCards_Title {
  text-align: center;
  width: 80%;
  border-bottom: 1px solid #888;
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 13px;
}
.ModalCards .ModalCards_swiper {
  width: 100%;
  margin-top: 50px;
}
.ModalCards .ModalCards_microLearning {
  width: 80%;
  margin: auto;
}
.ModalCards .ModalCards_microLearning img {
  width: 100%;
}

.modal_swiper_name {
  width: 80%;
  margin: auto;
  height: 300px;
  background-color: #fff;
}
.modal_swiper_name .swiper-slide {
  height: 250px;
  cursor: pointer;
}
.modal_swiper_name .swiper-slide img {
  width: 100%;
  height: 100%;
}

.prev-arrow, .next-arrow {
  position: absolute;
  width: 20px;
  top: 55%;
  cursor: pointer;
}
.prev-arrow img, .next-arrow img {
  width: 100%;
}

.prev-arrow {
  left: 20px;
}

.next-arrow {
  right: 20px;
}

.beforeResult_analysisBox ul li:nth-child(3) div {
  background-color: #e6e0ec;
}

.study_back {
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 13%;
  right: 5%;
  transform: translate(0, -50%);
  background-color: #fff;
  border: 1px solid #6f76c1;
  border-radius: 30px;
  transition: 0.4s;
  width: 30px;
  height: 30px;
}

.backButton {
  font-size: 15px;
  display: flex;
  color: rgb(111, 118, 193);
  font-weight: 800;
  align-items: center;
  cursor: pointer;
}
.backButton :hover {
  color: rgb(61, 68, 143);
}

@media (min-width: 335px) and (max-width: 757px) {
  .item-form .item-inner .item-box {
    padding: 0 !important;
  }
  .module_card {
    width: 100%;
  }
  .module_box {
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .module_box a {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .module_cardImg {
    width: 100%;
    height: 246px;
  }
  .aboutCompany_detail_summary {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .aboutCompany_detail_summary Img {
    width: 100%;
    margin: auto auto 35px;
    width: 95%;
  }
  .detail_content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .detail_content .detail_content_cardNews_img {
    width: 100%;
    height: auto;
  }
  .detail_container {
    padding: 0;
  }
  .detail_cardNews .detail_content_cardNews, .detail_cardNews .detail_content_microLearning {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .aboutCompany_detail_summary .aboutCompany_detail_text {
    width: 100%;
    margin: 0;
  }
  .aboutCompany_detail_summary .aboutCompany_detail_goal {
    display: block;
  }
  .aboutCompany_detail_summary .aboutCompany_detail_goal dt {
    padding-bottom: 5px;
  }
  .aboutCompany_detail_summary .aboutCompany_detail_goal dt, .aboutCompany_detail_summary .aboutCompany_detail_goal dd {
    width: 100%;
  }
  .aboutCompany_detail_summary .aboutCompany_detail_concept {
    display: block;
  }
  .aboutCompany_detail_summary .aboutCompany_detail_concept dt {
    padding-bottom: 5px;
  }
  .aboutCompany_detail_summary .aboutCompany_detail_concept dt, .aboutCompany_detail_summary .aboutCompany_detail_concept dd {
    width: 100%;
  }
  .detail_practice .detail_practice_btnArea {
    flex-direction: column;
    align-items: flex-end;
  }
  .detail_practice .detail_practice_btnArea button {
    width: 100%;
    margin-bottom: 10px;
  }
  .detail_practice .detail_practice_btnArea a {
    width: 100%;
    text-align: right;
  }
  .detail_practice .detail_practice_desc {
    margin-bottom: 16px;
  }
  .detail_practice .detail_practice_textArea {
    margin-bottom: 20px;
  }
  .detail_cardNews {
    margin-bottom: 50px;
  }
  .detail_cardNews .detail_content_cardNews_title {
    margin-top: 15px;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .item-form .item-inner .item-box {
    padding: 0;
    height: auto !important;
  }
  .item-form .item-inner .item-contents {
    margin-bottom: 30px !important;
  }
  .item-form .item-inner .tab-btn-area {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 30px;
    width: calc(100% - 60px) !important;
  }
  .item-form .item-inner .tab-btn-area .item-box {
    padding: 0px 30px 50px;
  }
  .item-form .item-inner .tab-btn-area .tab-btn {
    margin-top: 10px !important;
    width: 48% !important;
  }
  .module_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .module_box {
    width: 100%;
    margin: auto;
  }
  .module_box a {
    width: 48%;
    margin-bottom: 25px;
  }
  .module_box a:nth-child(2n) {
    margin-right: 0;
  }
  .module_cardImg {
    width: 100%;
    height: 246px;
  }
  .aboutCompany_detail_summary, .detail_cardNews {
    margin-bottom: 80px;
  }
  .aboutCompany_detail_summary {
    margin: 0 0 100px;
  }
  .aboutCompany_detail_summary Img {
    width: 35%;
    margin-right: 15px;
  }
  .aboutCompany_detail_summary .aboutCompany_detail_text {
    margin-left: 0;
    width: 65%;
    padding: 30px 20px 30px;
  }
  .aboutCompany_detail_summary .aboutCompany_detail_goal dt, .aboutCompany_detail_summary .aboutCompany_detail_concept dt {
    width: 20%;
  }
  .detail_cardNews {
    justify-content: space-between;
  }
  .detail_cardNews .detail_content {
    justify-content: space-between;
  }
  .detail_cardNews .detail_content_cardNews {
    width: calc(30% - 20px);
  }
  .detail_cardNews .detail_content_cardNews img {
    min-width: auto;
  }
  .detail_cardNews .detail_content_microLearning {
    width: calc(70% - 20px);
  }
}/*# sourceMappingURL=ability.css.map */