.abilityBtns {
    width: 100%;
    text-align: center;

    .active button {
        box-shadow: 1px 1px 5px 3px #ddd;
        background-color: rgb(111, 118, 193);
        color: #fff;
    }
}
.abilityBtns button {
    margin-right: 30px;
    box-shadow: 1px 1px 5px 3px #ddd;
    background-color: #fff;
    color: gray;
}
.module_box {
    max-width: 1200px;
    width: 100%;
    //height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: fadein 1s;
    a {
        width: 235px;
        margin-right: 20px;
    }
    
}
.module_card {
    width: 100%;
    height: 320px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px #ddd;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    :hover {
        .dim {
            width:100%;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
            background-color: rgba(0,0,0,0.3);
            z-index: 3;
        }
        .module_card_hover {
            width: 100%;
            height: 170px;
            transform: translate(0, -170px);
            transition: all ease 0.5s;
            visibility: visible;
        }

        .module_card_hover_text {
            visibility: visible;
            padding: 0 30px;
            margin-top: 50px;
            color: #fff;
            line-height: 1.2;
            transform: translate(0, 0);
            transition: all ease-in-out 0.3s;
            overflow:hidden;
            text-overflow:ellipsis;
            opacity: 1;
        }
    }
}
.module_cardImg {
    width: 100%;
    height: 100%;
    position: relative;

    .cardImg_background {
        width: 100%;
        height: 100%;

        Img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0 0;
        }
    }
}
.module_card_hover {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: rgb(111, 118, 193, 0.5);
    z-index: 3;
    border-radius: 60% 50% 0 0;
}
.module_card_hover_text {
    opacity: 0;
    margin-top: 50px;
    font-size: 15px;
    left: -40%;
    padding: 0 30px;
}
.module_cardTitle_txt{
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    
    .module_cardTitle {
        font-size: 15px;
        color: rgb(111, 118, 193);
        font-weight: bold;
        padding-bottom: 10px;
    }
    .module_cardTitle_sub {
        font-size: 13px;
        color: #888;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.detail_container {
    width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.module_detail_summary {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    img {
        width: 150px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 3px #ddd;
    }
    .module_detail_text {
        padding-left: 50px;
        width: calc(100% - 150px);

        div {
            margin-bottom: 20px;
        }
    }
}
.detail_cardNews {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;

    .detail_cardNews_title {
        padding-left: 5px;
        margin-bottom: 30px;
        margin-left: 8px;
        color: rgb(111, 118, 193);
        font-size: 22px;
        font-weight: bold;
    }
    .detail_content {
        width: 100%;
        display: flex;
    }
    .detail_content_cardNews {
        position: relative;
        width: 30%;
        margin-right: 3%;
        cursor: pointer;
        img{
            min-width: 270px;
            box-shadow: 0px 11px 23px -9px rgb(0 0 0 / 38%);
            margin-right: 3%;
        }
    }
    .detail_content_microLearning {
        position: relative;
        width: 70%;
        cursor: pointer;
        img{
            box-shadow: 0px 11px 23px -9px rgb(0 0 0 / 38%);
        }
    }
    .detail_content_cardNews_img, .detail_content_microLearning_img{
        width: 100%;
        min-width: 300px;
        height: 320px;
        border-radius: 15px;
    }
    .detail_content_cardNews_title, .detail_content_microLearning_title {
        width: 100%;
        text-align: center;
        font-size: 15px;
        margin-top: 30px;
    }
}

.beforeTest_question .beforeTest_question_g {
    font-size: 16px;
    line-height: 1.2;
}
.detail_practice {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    .detail_practice_title {
        margin-left: 5px;
        color: rgb(111, 118, 193);
        font-weight: 500;
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: bold;
    }

    .detail_practice_desc {
        color: gray;
        margin-left: 5px;
        margin-bottom: 30px;
    }

    .detail_practice_textArea {
        width: auto;
        height: auto;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 3px #ddd;
        margin-bottom: 15px;
        padding: 30px;
    }

    .deleteBtn, .tmpSaveBtn {
        min-width: 130px;
        width: 6.843vw;
        height: 25px;
        border-radius: 3px;
        background-color: #fff;
        margin-right: 5px;
        border: 0.5px solid #d0d0d0;
        cursor: pointer;
    }

    .detail_practice_btnArea {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .writeBtn, .saveBtn {
        min-width: 130px;
        width: 6.843vw;
        height: 25px;
        border-radius: 3px;
        background-color: rgb(111, 118, 193);
        color: #fff;
        cursor: pointer;
    }
}
.save_btnArea {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.aboutCompany_detail_summary {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 50px 0 130px;

    img {
        width: 30%;
        height: 250px;
        border-radius: 10px;
        margin-right: 3%;
        box-shadow: 0px 11px 23px -9px rgb(0 0 0 / 38%);
    }
    .aboutCompany_detail_text {
        padding: 30px 25px 25px;
        width: calc(100% - 150px);
        border-radius: 10px;
        box-shadow: 1px 1px 5px 3px #ddd;
    }
    .aboutCompany_detail_title {
        margin-bottom: 30px;
        font-weight: 500;
        color: rgb(111, 118, 193);
        font-size: 22px;
        font-weight: bold;
    }
    .aboutCompany_detail_goal{
        display: flex;
        font-size: 14px;
        padding-bottom: 14px;
        line-height: 1.2;
        width: 100%;
        dt{
            width: 10%;
            font-weight: bold;
        }
        dd{
            width: 90%;
        }
    }
    .aboutCompany_detail_concept{
        display: flex;
        font-size: 14px;
        line-height: 1.2;
        width: 100%;
        dt{
            width: 10%;
            font-weight: bold;
        }
        dd{
            width: 90%;
        }
    }
}
.ModalCards{
    position: relative;
    .ModalCards_btn {
        width: 100%;
        display:flex;
        justify-content: flex-end;
        cursor: pointer;
        button { font-size: 17px; }
    }
    .ModalCards_Title{
    text-align: center;
    width: 80%;
    border-bottom: 1px solid #888;
    margin: 20px auto;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 13px;
    }
    .ModalCards_swiper {
        width: 100%;
        margin-top: 50px;

    }
    .ModalCards_microLearning {
        width: 80%;
        margin: auto;

        img {
            width: 100%;
        }
    }
}
.embed_modal_swiper_name{
    display:none;
    
    .swiper-slide {
        height: auto;
        cursor: pointer;
    
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
}
.modal_swiper_name {
    width: 80%;
    margin: auto;
    height: 300px;
    background-color: #fff;
    border-radius: 0px 11px 23px -9px rgb(0 0 0 / 38%);

.swiper-slide {
    height: 250px;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
}
.prev-arrow, .next-arrow {
    position: absolute;
    width: 20px;
    top : 55%;
    cursor: pointer;
    
    img {
        width: 100%;
    }
}
.prev-arrow {
    left: 20px;
}
.next-arrow {
    right: 20px;
}
.beforeResult_analysisBox ul li:nth-child(3) div {background-color: #e6e0ec;}
.study_back{
    font-size: 28px;
    display: flex;
    justify-content: center; align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 13%; right: 5%;
    transform: translate(0, -50%);
    background-color: #fff;
    border: 1px solid #6f76c1;
    border-radius: 30px;
    transition: 0.4s;
    width: 30px; height: 30px;
}
.backButton {
    font-size: 15px;
    display: flex;
    color: rgb(111, 118, 193);
    font-weight: 800;
    align-items: center;
    cursor: pointer;

    :hover {
        color: rgb(61, 68, 143);
    }
}
.ck-editor__editable {
    max-height: 300px;
    min-height: 300px;
}
.embedYoutube {
    display: none;
}
@media (min-width: 335px) and (max-width: 757px) {
    .module_card{
        width: 100%
    }
    .module_card_hover, .module_card_hover_text {
        display: none;
    }
    .dim{display: none;}
    .module_box{
        justify-content: center;
        width: 100%;
        margin: auto;
        a {
            width: 100%;
            margin-bottom: 20px;
            margin-right: 0;
        }
    }
    .module_cardImg {
        width: 100%;
        height: 246px;
    } 
    .aboutCompany_detail_summary{
        margin-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        Img{
            width: 100%;
            margin: auto auto 35px;
            width: 95%;
        }
    }
    .detail_content{
        flex-wrap: wrap;
        flex-direction: column;
        .detail_content_cardNews_img {
            display:none;
        }
        .detail_content_microLearning_img{
            display:none;
        }
    }
    .embedYoutube {
        display: block;
        height: 300px;
    }
    .embed_modal_swiper_name {
        display: block;
        box-shadow: 0px 11px 23px -9px rgb(0 0 0 / 38%)
    }
    .detail_container{
        padding: 0;
    }
    .detail_cardNews .detail_content_cardNews, .detail_cardNews .detail_content_microLearning{
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .aboutCompany_detail_summary .aboutCompany_detail_text{
        width: 100%;
        margin: 0;
    }
    .aboutCompany_detail_summary .aboutCompany_detail_goal{
        display: block;
        dt{padding-bottom: 5px;}
        dt,dd{
            width: 100%;
        }
    }
    .aboutCompany_detail_summary .aboutCompany_detail_concept{
        display: block;
        dt{padding-bottom: 5px;}
        dt,dd{width: 100%;}
    }
    .detail_practice{
        .detail_practice_btnArea {
            flex-direction: column;    
            align-items: flex-end;
            button{
                width: 100%;
                margin-bottom: 10px;
            }
            a{
                width: 100%;
                text-align: right;
            }
        }
        .detail_practice_desc {margin-bottom: 16px;}
    }
    .detail_cardNews{
        margin-bottom: 50px;
        .detail_content_cardNews_title{margin-top: 15px;}
    }
    .save_btnArea {
        flex-direction: column;    
        align-items: flex-end;
        div{
            width: 100%;
            margin-bottom: 10px;
        }
        a{
            width: 100%;
            text-align: right;
        }
    }
    .backButton{padding-bottom: 20px;}
    .detail_practice .deleteBtn, .detail_practice .tmpSaveBtn{width: 100%;}
    .detail_practice .writeBtn, .detail_practice .saveBtn{width: 100%;}
}

@media (min-width: 758px) and (max-width: 1023px) {
    .module_card_hover, .module_card_hover_text {
        display: none;
    }
    .dim{display: none;}
    .module_card{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .module_box{
        width: 100%;
        margin: auto;
        a {
            width: 48%;;
            margin-bottom: 25px;
        }
        a:nth-child(2n){margin-right: 0;}
    }
    .module_cardImg {
        width: 100%;
        height: 246px;
    }
    .aboutCompany_detail_summary, .detail_cardNews{
        margin-bottom: 80px;
    }
    .aboutCompany_detail_summary{
        margin: 0 0 100px;
        Img{
            width: 35%;
            margin-right: 15px;
        }
        .aboutCompany_detail_text {
            margin-left: 0;
            width: 65%;
            padding: 30px 20px 30px;
        }
        .aboutCompany_detail_goal, .aboutCompany_detail_concept{
            dt{width: 20%;}
        }
    }
    .detail_cardNews{
        justify-content: space-between;
        .detail_content {
            justify-content: space-between;
        }
        .detail_content_cardNews{
            width: calc(30% - 20px);
            img{min-width: auto;}
        }
        .detail_content_microLearning{
            width: calc(70% - 20px);
        }
    }
    .backButton{padding-bottom: 20px;}
}

@media (min-width: 1024px) {
                                                 
}