@import "./mixin";

@include desktop {
  .main {
    width: 100%;
    height: 100%;
    .connect {
      width: 100%;
      display: flex;
    }
  }
}
@include tablet {
  .main {
    width: 100%;
    height: 100%;
    .connect {
      width: 100%;
      display: flex;
    }
  }
}

@include mobile {
  .main {
    width: 100%;
    height: 25%;
    .connect {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
