$bgColor: #dde3f6;
$deepColor: #6f76c1;
$lightColor: #e6e0ec;
.preparations-wrap {
  width: 100%;
  height: 100%;
  animation: fadein 2s;
  padding-top: 2rem;

  .preparations-checklist-box {
    width: 80%;
    height: 60vw;
    margin: 0px auto;
    border-radius: 30px;
    background: url("/public/img/bg-checklist.png") no-repeat center / 100%;
    box-sizing: border-box;
    .preparations-checklist-title {
      padding: 50px 0;
      font-size: 30px;
      font-weight: 600;
      color: #fff;
      text-align: center;
    }
    .preparations-checklist-contents {
      width: 90%;
      height: 50vw;
      margin: 0px auto;
      padding: 2rem 3rem;
      background-color: #fff;
      border-radius: 30px;
      box-sizing: border-box;
      position: relative;
      .preparations-checklist-img {
        width: 150px;
        height: 150px;
        background: url(/public/img/img-person01.png) no-repeat center / cover;
        position: absolute;
        top: -80px;
        right: 25px;
      }
      .checklist-title {
        width: 60%;
        font-size: 1.5rem;
        color: $deepColor;
        margin-top: 2rem;
      }
      .checklist-name {
        width: 100%;
        .checklist-item {
          width: 100%;
          height: 50px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-top: 1rem;
          box-shadow: 2px 2px 2px 2px rgb(34 51 89 / 10%);
          display: flex;
          justify-content: space-between;
          .checklist-item-name {
            width: 62%;
            height: 25px;
            display: flex;
            margin: 1rem 2rem;
            justify-content: start;
            align-items: center;
            font-size: 1.1rem;
            color: #888;
          }
          .checklist-item-check {
            width: 35px;
            height: 35px;
            display: flex;
            margin: 1rem;
            justify-content: start;
            align-items: center;
          }
        }
      }
      .checklist-document {
        width: 100%;
        display: flex;
        .scan {
          width: 100%;
          font-size: 1.1rem;
          color: #888;
          margin-top: 2rem;
        }
      }
      .checklist-submit-btn {
        width: 100%;
        height: 50px;
        background-color: #9497d1;
        border-radius: 10px;
        color: #fff;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
      }
    }
  }
}
