@media (min-width: 1024px) {
  .onAndUp-header.off {
    background-color: #dde3f6;
  }
  .onAndUp-header.none {
    display: none;
  }
  .onAndUp-header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: #fff;
  }
  .onAndUp-header .logo {
    width: 34%;
    height: 70px;
    background: url(/public/img/logo.png) no-repeat left;
    font-size: 0px;
    text-indent: -9999px;
    margin-left: 5%;
  }
  .onAndUp-header .main-item {
    width: 100%;
  }
  .onAndUp-header .main-item .gnb {
    width: 100%;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
  }
  .onAndUp-header .main-item .gnb li {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
    position: relative;
  }
  .onAndUp-header .main-item .gnb li a {
    text-decoration: none;
    color: #656565;
  }
  .onAndUp-header .main-item .gnb li:hover .depth1 {
    display: block;
    -webkit-animation: fadein 1s;
            animation: fadein 1s;
  }
  .onAndUp-header .main-item .gnb li:hover span {
    color: #6f76c1;
  }
  .onAndUp-header .main-item .gnb li .depth1 {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 50px;
    text-align: center;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #656565;
    z-index: 1000;
  }
  .onAndUp-header .main-item .gnb li .depth1 .depth1Li {
    font-size: 15px;
    height: 30px;
  }
  .onAndUp-header .main-item .gnb li .depth1 .depth1Li:hover {
    color: #6f76c1;
  }
  .onAndUp-header .side-item {
    width: 30%;
  }
  .onAndUp-header .side-item .util {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
  }
  .onAndUp-header .side-item .util .tab-btn {
    width: 30px;
    height: 30px;
    height: auto;
    background: url(/public/img/btn-menu.png) no-repeat center/contain;
    text-indent: -9999px;
    font-size: 0px;
    cursor: default;
  }
  .onAndUp-header .side-item .util .tab-btn.off {
    display: none;
  }
  .btn-menu-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-animation-name: change;
            animation-name: change;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    background-color: #6f76c1;
    align-items: baseline;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
  }
  .btn-menu-wrap .btn-menu {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item {
    padding: 50px;
    display: flex;
    justify-content: space-between;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 {
    width: calc(10% - 10px);
    font-size: 18px;
    line-height: 30px;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-box {
    font-size: 23px;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-box:hover {
    color: #f9c153;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-box::before,
.btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-box .btn-menu-depth2-text::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #f9c153;
    display: block;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-box:hover::before,
.btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-box .btn-menu-depth2-text:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-box::after {
    display: block;
    content: "";
    width: 150px;
    border-bottom: 1.5px solid #fff;
    padding-bottom: 10px;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-depth2 {
    margin: 10px;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-depth2 .btn-menu-depth2-text {
    position: relative;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-depth2 .btn-menu-depth2-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    transform: scaleY(0.3);
    opacity: 0;
    transition: all 0.3s;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-depth2 .btn-menu-depth2-text:hover {
    color: #fff;
    text-decoration: none;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-depth2 .btn-menu-depth2-text:hover::before {
    opacity: 1;
    background-color: #f9c153;
    transform: scaleY(1);
    transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-depth2 .btn-menu-depth2-text .btn-menu-depth2-item {
    text-decoration: none;
  }
  .img-balloon {
    background: url(/./public/img/bg-gnb.png) no-repeat center/cover;
    width: 230px;
    height: 230px;
    text-indent: -9999px;
    font-size: 0;
    position: absolute;
    bottom: 80px;
    right: 50px;
  }
  .homepage {
    color: #fff;
    padding: 50px;
    font-size: 18px;
  }
  .homepage:hover {
    color: #fff;
    text-decoration: none;
  }
  .goback {
    align-self: flex-end;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.5);
  }
  @-webkit-keyframes change {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes change {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .onAndUp-header.off {
    background-color: #dde3f6;
  }
  .onAndUp-header.none {
    display: none;
  }
  .onAndUp-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
  }
  .onAndUp-header .logo {
    width: 34%;
    height: 70px;
    background: url(/public/img/logo.png) no-repeat left;
    font-size: 0px;
    text-indent: -9999px;
    margin-left: 5%;
  }
  .onAndUp-header .main-item {
    display: none;
  }
  .onAndUp-header .side-item {
    width: 30%;
  }
  .onAndUp-header .side-item .util {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
  }
  .onAndUp-header .side-item .util .tab-btn {
    width: 30px;
    height: 30px;
    height: auto;
    background: url(/public/img/btn-menu.png) no-repeat center/contain;
    text-indent: -9999px;
    font-size: 0px;
    cursor: default;
  }
  .onAndUp-header .side-item .util .tab-btn.off {
    display: none;
  }
  .btn-menu-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    -webkit-animation-name: change;
            animation-name: change;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    background-color: #6f76c1;
    height: 100%;
    overflow: hidden;
    touch-action: none;
  }
  .btn-menu-wrap .btn-menu {
    text-align: center;
    margin: 150px 0;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 {
    font-size: 18px;
    line-height: 30px;
    margin: 20px;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-box {
    font-size: 23px;
    text-decoration: none;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-box::after {
    display: block;
    content: "";
    width: 140px;
    border-bottom: 1.5px solid #fff;
    padding-bottom: 10px;
    margin: 0 auto;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-depth2 {
    margin: 10px;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-depth2 .btn-menu-depth2-text:hover {
    color: #f9c153;
  }
  .btn-menu-wrap .btn-menu .btn-menu-item .btn-menu-depth1 .btn-menu-depth2 .btn-menu-depth2-text .btn-menu-depth2-item {
    text-decoration: none;
  }
  .goback {
    align-self: flex-end;
    color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
  }
  .img-balloon {
    background: url(/./public/img/bg-gnb.png) no-repeat center/cover;
    width: 200px;
    height: 200px;
    text-indent: -9999px;
    font-size: 0;
    position: absolute;
    bottom: -200px;
    right: 50px;
  }
  .homepage {
    padding: 0 50px 0 50px;
    height: 30px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
}
@media (min-width: 335px) and (max-width: 757px) {
  .onAndUp-header.off {
    background-color: #dde3f6;
  }
  .onAndUp-header.none {
    display: none;
  }
  .onAndUp-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
  }
  .onAndUp-header .logo {
    width: 34%;
    height: 70px;
    background: url(/public/img/logo.png) no-repeat left;
    font-size: 0px;
    text-indent: -9999px;
    margin-left: 5%;
  }
  .onAndUp-header .main-item {
    display: none;
  }
  .onAndUp-header .side-item {
    width: 30%;
  }
  .onAndUp-header .side-item .util {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
  }
  .onAndUp-header .side-item .util .tab-btn {
    width: 30px;
    height: 30px;
    height: auto;
    background: url(/public/img/btn-menu.png) no-repeat center/contain;
    text-indent: -9999px;
    font-size: 0px;
    cursor: default;
  }
  .onAndUp-header .side-item .util .tab-btn.off {
    display: none;
  }
  .btn-menu-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: #6f76c1;
    -webkit-animation: fadein 1s;
            animation: fadein 1s;
    touch-action: none;
    height: 100%;
  }
  .btn-menu-wrap .btn-menu {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin: 0 20px;
  }
  .btn-menu-wrap .btn-menu .btn-menu-depth1 {
    position: relative;
    margin: 20px 0;
  }
  .btn-menu-wrap .btn-menu .btn-menu-box {
    width: 100%;
    font-size: 25px;
    line-height: 50px;
    text-decoration: none;
  }
  .btn-menu-wrap .btn-menu .btn-menu-box::after {
    content: "";
    display: block;
    position: absolute;
    top: 45px;
    left: 0;
    border-bottom: 1.5px solid #dde3f6;
    width: 100%;
  }
  .btn-menu-wrap .btn-menu .btn-menu-depth2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: default;
  }
  .btn-menu-wrap .btn-menu .btn-menu-depth2 .btn-menu-depth2-item {
    font-size: 16px;
    margin: 0 5px;
    text-decoration: none;
  }
  .btn-menu-wrap .goback {
    align-self: flex-end;
    color: rgba(255, 255, 255, 0.508);
    font-size: 50px;
  }
  .btn-menu-wrap .img-balloon {
    display: none;
  }
  .btn-menu-wrap .homepage {
    height: 30px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 20px 30px;
  }
  .search-box {
    display: none;
  }
}/*# sourceMappingURL=header.css.map */