@import "./mixin";
$lightColor: #e6e0ec;
$deepColor: #6f76c1;
$bgColor: #dde3f6;

@include desktop {
  .onAndUp-header.off {
    background-color: $bgColor;
  }
  .onAndUp-header.none {
    display: none;
  }
  .onAndUp-header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: #fff;
    .logo {
      width: 34%;
      height: 70px;
      background: url(/public/img/logo.png) no-repeat left;
      font-size: 0px;
      text-indent: -9999px;
      margin-left: 5%;
    }
    .main-item {
      width: 100%;
      .gnb {
        width: 100%;
        display: flex;
        font-size: 18px;
        justify-content: space-between;
        li {
          width: 120px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3px 0;
          position: relative;
          a {
            text-decoration: none;
            color: #656565;
          }
          &:hover {
            .depth1 {
              display: block;
              animation: fadein 1s;
            }
            span {
              color: #6f76c1;
            }
          }
          .depth1 {
            width: 100%;
            background-color: #fff;
            position: absolute;
            top: 50px;
            text-align: center;
            display: none;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: #656565;
            z-index: 1000;
            .depth1Li {
              font-size: 15px;
              height: 30px;
              &:hover {
                color: #6f76c1;
              }
            }
          }
        }
      }
    }
    .side-item {
      width: 30%;
      .util {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        font-size: 20px;
        .tab-btn {
          width: 30px;
          height: 30px;
          height: auto;
          background: url(/public/img/btn-menu.png) no-repeat center / contain;
          text-indent: -9999px;
          font-size: 0px;
          cursor: default;
        }
        .tab-btn.off {
          display: none;
        }
      }
    }
  }

  .btn-menu-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-name: change;
    animation-duration: 1.5s;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
    background-color: #6f76c1;
    align-items: baseline;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
    .btn-menu {
      width: 100%;
      text-align: center;
      font-size: 30px;
      line-height: 30px;
      color: #fff;
      text-decoration: none;
      .btn-menu-item {
        padding: 50px;
        display: flex;
        justify-content: space-between;
        .btn-menu-depth1 {
          width: calc(10% - 10px);
          font-size: 18px;
          line-height: 30px;
          .btn-menu-box {
            font-size: 23px;
            text-decoration: none;
            display: inline-block;
            position: relative;
            &:hover {
              color: #f9c153;
            }
            &::before,
            .btn-menu-depth2-text::before {
              content: "";
              position: absolute;
              bottom: 0%;
              left: 0px;
              width: 100%;
              height: 2px;
              background: #f9c153;
              display: block;
              -webkit-transform-origin: right top;
              -ms-transform-origin: right top;
              transform-origin: right top;
              -webkit-transform: scale(0, 1);
              -ms-transform: scale(0, 1);
              transform: scale(0, 1);
              -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
              transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
            }
            &:hover::before,
            .btn-menu-depth2-text:hover::before {
              -webkit-transform-origin: left top;
              -ms-transform-origin: left top;
              transform-origin: left top;
              -webkit-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              transform: scale(1, 1);
            }

            &::after {
              display: block;
              content: "";
              width: 150px;
              border-bottom: 1.5px solid #fff;
              padding-bottom: 10px;
            }
          }
          .btn-menu-depth2 {
            margin: 10px;
            .btn-menu-depth2-text {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: #000;
                -webkit-transform: scaleY(0.3);
                transform: scaleY(0.3);
                opacity: 0;
                transition: all 0.3s;
              }
              &:hover {
                color: #fff;
                text-decoration: none;
              }
              &:hover::before {
                opacity: 1;
                background-color: #f9c153;
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
                transition: -webkit-transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity 0.4s;
                transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
              }
              .btn-menu-depth2-item {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .img-balloon {
    background: url(/./public/img/bg-gnb.png) no-repeat center / cover;
    width: 230px;
    height: 230px;
    text-indent: -9999px;
    font-size: 0;
    position: absolute;
    bottom: 80px;
    right: 50px;
  }
  .homepage {
    color: #fff;
    padding: 50px;
    font-size: 18px;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  .goback {
    align-self: flex-end;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.5);
  }
  @keyframes change {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@include tablet {
  .onAndUp-header.off {
    background-color: $bgColor;
  }
  .onAndUp-header.none {
    display: none;
  }
  .onAndUp-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    .logo {
      width: 34%;
      height: 70px;
      background: url(/public/img/logo.png) no-repeat left;
      font-size: 0px;
      text-indent: -9999px;
      margin-left: 5%;
    }
    .main-item {
      display: none;
    }
    .side-item {
      width: 30%;
      .util {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        font-size: 20px;
        .tab-btn {
          width: 30px;
          height: 30px;
          height: auto;
          background: url(/public/img/btn-menu.png) no-repeat center / contain;
          text-indent: -9999px;
          font-size: 0px;
          cursor: default;
        }
        .tab-btn.off {
          display: none;
        }
      }
    }
  }

  .btn-menu-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    animation-name: change;
    animation-duration: 1.5s;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
    background-color: #6f76c1;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    .btn-menu {
      text-align: center;
      margin: 150px 0;
      font-size: 30px;
      line-height: 30px;
      color: #fff;
      text-decoration: none;
      .btn-menu-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .btn-menu-depth1 {
          font-size: 18px;
          line-height: 30px;
          margin: 20px;
          .btn-menu-box {
            font-size: 23px;
            text-decoration: none;
            &::after {
              display: block;
              content: "";
              width: 140px;
              border-bottom: 1.5px solid #fff;
              padding-bottom: 10px;
              margin: 0 auto;
            }
          }
          .btn-menu-depth2 {
            margin: 10px;
            .btn-menu-depth2-text {
              &:hover {
                color: #f9c153;
              }
              .btn-menu-depth2-item {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .goback {
    align-self: flex-end;
    color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
  }
  .img-balloon {
    background: url(/./public/img/bg-gnb.png) no-repeat center / cover;
    width: 200px;
    height: 200px;
    text-indent: -9999px;
    font-size: 0;
    position: absolute;
    bottom: -200px;
    right: 50px;
  }
  .homepage {
    padding: 0 50px 0 50px;
    height: 30px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
}

@include mobile {
  .onAndUp-header.off {
    background-color: $bgColor;
  }
  .onAndUp-header.none {
    display: none;
  }
  .onAndUp-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    .logo {
      width: 34%;
      height: 70px;
      background: url(/public/img/logo.png) no-repeat left;
      font-size: 0px;
      text-indent: -9999px;
      margin-left: 5%;
    }
    .main-item {
      display: none;
    }
    .side-item {
      width: 30%;
      .util {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        font-size: 20px;
        .tab-btn {
          width: 30px;
          height: 30px;
          height: auto;
          background: url(/public/img/btn-menu.png) no-repeat center / contain;
          text-indent: -9999px;
          font-size: 0px;
          cursor: default;
        }
        .tab-btn.off {
          display: none;
        }
      }
    }
  }

  .btn-menu-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: $deepColor;
    animation: fadein 1s;
    touch-action: none;
    height: 100%;
    .btn-menu {
      font-size: 18px;
      line-height: 30px;
      color: #fff;
      margin: 0 20px;
      .btn-menu-depth1 {
        position: relative;
        margin: 20px 0;
      }
      .btn-menu-box {
        width: 100%;
        font-size: 25px;
        line-height: 50px;
        text-decoration: none;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 45px;
          left: 0;
          border-bottom: 1.5px solid $bgColor;
          width: 100%;
        }
      }
      .btn-menu-depth2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        cursor: default;
        .btn-menu-depth2-item {
          font-size: 16px;
          margin: 0 5px;
          text-decoration: none;
        }
      }
    }
    .goback {
      align-self: flex-end;
      color: rgba(255, 255, 255, 0.508);
      font-size: 50px;
    }
    .img-balloon {
      display: none;
    }
    .homepage {
      height: 30px;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      padding: 20px 30px;
    }
  }
  .search-box {
    display: none;
  }
}
