$lightColor: #e6e0ec;
$deepColor: #6f76c1;
$bgColor: #dde3f6;
.onAndUp-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
<<<<<<< HEAD
=======
  background-color: #fff;
>>>>>>> 2bffd4158cf098020727d7c5f8c4c88dee29c2fb
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  .logo {
    width: 30%;
    height: 70px;
    background: url(/public/img/logo.png) no-repeat left;
    font-size: 0px;
    text-indent: -9999px;
    margin-left: 5%;
  }
  .main-item {
    width: 100%;
    .gnb {
      width: 100%;
      display: flex;
      font-size: 18px;
      justify-content: space-between;
      li {
        width: 120px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 0;
        position: relative;
        a {
          text-decoration: none;
          color: #656565;
        }
        &:hover {
          .depth1 {
            display: block;
            animation: fadein 1s;
          }
          span {
            color: #6f76c1;
          }
        }
        .depth1 {
          width: 100%;
          background-color: #fff;
          position: absolute;
          top: 50px;
          text-align: center;
          display: none;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          color: #656565;
          z-index: 1000;
          .depth1Li {
            font-size: 15px;
            height: 30px;
            &:hover {
              color: #6f76c1;
            }
          }
        }
      }
    }
  }

  .side-item {
    width: 30%;
    .util {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 10px;
      font-size: 16px;

      #tab-btn {
        width: 20%;
        height: auto;
        background: url(/public/img/btn-menu.png) no-repeat center / contain;
        text-indent: -9999px;
        font-size: 0px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.btn-menu-wrap {
  animation-name: change;
  animation-duration: 1.5s;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;
  height: 100vh;
  background-color: #6f76c1;
  display: flex;
  padding: 80px 70px 0;

  .btn-menu {
    text-align: center;
    margin: 300px auto;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    .btn-menu-li {
      width: 100px;
      font-size: 25px;
      line-height: 30px;

      &::after {
        display: block;
        content: "";
        width: 140px;
        border-bottom: 2px solid #fff;
        padding-bottom: 20px;
      }
    }
    .depth1 {
      margin-top: 30px;
      font-size: 16px;
      .depth1-menu {
        text-decoration: none;
      }
      .detpth1-menu on {
        color: red;
      }
      .depth1Li {
        margin-top: 10px;
      }
    }
  }
}

.search-box {
  padding: 10px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: translate(0, -50%);
  height: 30px;
  background-color: #fff;
  border: 1px solid $deepColor;
  border-radius: 30px;
  transition: 0.4s;
  width: 30px;
  .search-txt {
    display: flex;
    padding: 0;
    width: 0px;
    border: none;
    background: none;
    outline: none;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    transition: 0.4s;
  }
  &:hover {
    border: none;
    box-shadow: 0px 0px 0.5px 1px #d486ca;
    width: 350px;
    .search-btn {
      background-color: #fff;
    }
    .search-txt {
      width: 240px;
      padding: 0 6px;
    }
  }
  .search-btn {
    text-decoration: none;
    float: right;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #656565;
  }
}
<<<<<<< HEAD
=======
.onAndUp-header.off {
  background-color: rgba(255, 255, 255, 0);
}
>>>>>>> 2bffd4158cf098020727d7c5f8c4c88dee29c2fb

@keyframes change {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
