$lightColor: #e6e0ec;
$deepColor: #6f76c1;
$bgColor: #dde3f6;
#header {
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .logo {
    width: 30%;
    height: 70px;
    background: url(/public/img/logo2.png) no-repeat left;
    font-size: 0px;
    text-indent: -9999px;
    margin-left: 5%;
  }
  .main-item {
    width: 100%;
    .gnb {
      width: 100%;
      display: flex;
      font-size: 1.2rem;
      color: #7a7a7a;
      justify-content: space-between;
      li {
        width: 120px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .side-item {
    width: 30%;
    .util {
      width: 100%;
      line-height: 70px;
      display: flex;
      font-size: 0.8rem;
      justify-content: space-around;
      align-items: center;
      margin-right: 10px;
      #tab-btn {
        width: 20%;
        height: auto;
        background-image: url(/public/img/btn-menu.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        font-size: 0px;
        display: flex;
        align-items: center;
      }
    }
  }
}
