@charset "UTF-8";
@media (min-width: 1024px) {
  .chemi-wrap1 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
  }
  .chemi-wrap1 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap1 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap1 .boxlist .box {
    max-width: 1200px;
    height: auto;
    margin: 30px auto;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
    position: relative;
  }
  .chemi-wrap1 .boxlist .box .col-box {
    width: 10px;
    border-radius: 15px 0 0 15px;
    padding: 40px 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(111, 118, 193);
  }
  .chemi-wrap1 .boxlist .box .light {
    background-color: #e6e0ec;
  }
  .chemi-wrap1 .boxlist .box .img-box {
    background: url(./../../../../../../../public/img/ic-check.png) center/cover;
    width: 25px;
    height: 25px;
    z-index: 1;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
  }
  .chemi-wrap1 .boxlist .box p {
    text-indent: 20px;
  }
  .chemi-wrap1 .box {
    max-width: 1200px;
    height: auto;
    margin: 30px auto;
    padding: 50px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
    color: #202020;
  }
  .chemi-wrap2 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
  }
  .chemi-wrap2 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap2 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap2 .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-wrap2 .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-wrap2 .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  .chemi-wrap3 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
  }
  .chemi-wrap3 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap3 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap3 .boxlist .box {
    max-width: 1200px;
    height: auto;
    margin: 30px auto;
    padding: 30px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
    position: relative;
  }
  .chemi-wrap3 .boxlist .col-box {
    width: 10px;
    border-radius: 15px 0 0 15px;
    padding: 46px 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(111, 118, 193);
  }
  .chemi-wrap3 .boxlist .light {
    background-color: #e6e0ec;
  }
  .chemi-wrap3 .boxlist .img-box {
    background: url(./../../../../../../../public/img/ic-check.png) center/cover;
    width: 25px;
    height: 25px;
    z-index: 1;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
  }
  .chemi-wrap3 .boxlist input {
    width: 400px;
    height: 20px;
    margin-left: 20px;
    padding: 5px;
  }
  .chemi-wrap3 .chemi-name {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  .chemi-wrap3 .chemi-name input {
    height: 15px;
    width: 120px;
    border: 1px solid #999;
    padding: 5px;
  }
  .chemi-wrap3 .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-wrap3 .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-wrap3 .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  .chemi-wrap4 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
  }
  .chemi-wrap4 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap4 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap4 .chemi-box {
    max-width: 1200px;
    height: auto;
    margin: 30px auto;
    padding: 50px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
  }
  .chemi-wrap4 .chemi-box .chemi-input {
    border: 1px solid #999;
    width: 200px;
    height: 30px;
    margin: 30px auto;
  }
  .chemi-wrap4 .chemi-box .chemi-input input {
    width: 200px;
    height: 30px;
    text-indent: 10px;
  }
  .chemi-wrap4 .chemi-box .chemi-input1 {
    border: 1px solid #999;
    width: 500px;
    height: 100px;
    margin: 0 auto;
  }
  .chemi-wrap4 .chemi-box .chemi-input1 input {
    width: 500px;
    height: 100px;
    text-indent: 10px;
    font-size: 15px;
  }
  .chemi-wrap4 .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-wrap4 .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-wrap4 .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  .DiaryEditor {
    padding: 20px;
  }
  .DiaryEditor .chemi-table {
    text-align: center;
  }
  .DiaryEditor .chemi-table table {
    max-width: 1200px;
    height: auto;
    margin: 30px auto;
    padding: 100px 30px 40px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .DiaryEditor .chemi-table table .table-title {
    max-width: 1200px;
    width: 100%;
    background-color: #6F76C1;
    height: 60px;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .DiaryEditor .chemi-table table .table-title p {
    color: #fff;
  }
  .DiaryEditor .chemi-table table .diff {
    background-color: #E6E0EC;
  }
  .DiaryEditor .chemi-table table .diff p {
    color: #999;
  }
  .DiaryEditor .chemi-table table .chemi-table-inner {
    max-width: 700px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .DiaryEditor .chemi-table table .chemi-table-inner tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 90%;
  }
  .DiaryEditor .chemi-table table .chemi-table-inner tr td {
    padding-right: 10px;
  }
  .DiaryEditor input {
    height: 30px;
    padding: 10px;
    width: 500px;
    border: 1px solid #999;
  }
  .DiaryEditor .chemi-name {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  .DiaryEditor .chemi-name input {
    height: 15px;
    width: 120px;
    border: 1px solid #999;
  }
  .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  /* 리스트 */
  .DiaryList {
    max-width: 1200px;
    height: auto;
    margin: 30px auto;
    padding: 100px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
    padding: 20px;
    margin-top: 80px;
  }
  .DiaryList h2 {
    text-align: center;
  }
  .DiaryList h4 {
    padding-left: 20px;
  }
  /* 아이템 */
  .DiaryItem {
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
  }
  .DiaryItem .info {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .DiaryItem .content {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .DiaryItem .content input {
    border: 1px solid #999;
    width: 400px;
    height: 50px;
    font-size: 16px;
    padding: 0;
  }
  .DiaryItem .chemi-list .chemi-content {
    font-size: 15px;
    margin: 5px;
  }
  .DiaryItem .chemi-list .chemi-content p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .DiaryItem .chemi-list .chemi-content:nth-of-type(3n+1) {
    margin-top: 30px;
  }
  .DiaryItem .chemi-list .chemi-content input {
    border: 1px solid #999;
    width: 500px;
    height: 100px;
  }
  .DiaryItem .chemi-list .chemi-content:nth-of-type(3n-2) span {
    margin-left: 26px;
  }
  .DiaryItem .chemi-list2 span {
    margin-left: 20px;
  }
  .DiaryItem .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .DiaryItem .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .DiaryItem .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
}
@media (min-width: 335px) and (max-width: 757px) {
  .chemi-wrap1 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
    margin-top: 30px;
  }
  .chemi-wrap1 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap1 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap1 .boxlist .box {
    max-width: 500px;
    height: auto;
    margin: 30px auto;
    padding: 50px 30px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    position: relative;
  }
  .chemi-wrap1 .boxlist .box .col-box {
    width: 10px;
    border-radius: 15px 0 0 15px;
    padding: 40px 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(111, 118, 193);
  }
  .chemi-wrap1 .boxlist .box .light {
    background-color: #e6e0ec;
  }
  .chemi-wrap1 .boxlist .box .img-box {
    background: url(./../../../../../../../public/img/ic-check.png) center/cover;
    width: 25px;
    height: 25px;
    z-index: 1;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
  }
  .chemi-wrap1 .boxlist .box p {
    margin-left: 20px;
    text-align: left;
  }
  .chemi-wrap1 .box {
    max-width: 1200px;
    height: auto;
    margin: 30px auto;
    padding: 50px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
    color: #202020;
  }
  .chemi-wrap2 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
    margin-top: 30px;
  }
  .chemi-wrap2 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap2 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap2 .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-wrap2 .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-wrap2 .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  .DiaryEditor .chemi-table {
    text-align: center;
  }
  .DiaryEditor .chemi-table table {
    max-width: 500px;
    height: 100%;
    margin: 30px auto;
    padding: 50px 15px 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .DiaryEditor .chemi-table table .table-title {
    max-width: 500px;
    width: 100%;
    background-color: #6F76C1;
    height: 60px;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .DiaryEditor .chemi-table table .table-title p {
    color: #fff;
  }
  .DiaryEditor .chemi-table table .diff {
    background-color: #E6E0EC;
  }
  .DiaryEditor .chemi-table table .diff p {
    color: #999;
  }
  .DiaryEditor .chemi-table table .chemi-table-inner {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    box-sizing: border-box;
  }
  .DiaryEditor .chemi-table table .chemi-table-inner tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
  }
  .DiaryEditor .chemi-table table .chemi-table-inner tr td {
    margin-right: 5px;
  }
  .DiaryEditor input {
    height: 15px;
    padding: 10px 0;
    border: 1px solid #999;
  }
  .DiaryEditor .chemi-name {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  .DiaryEditor .chemi-name input {
    height: 15px;
    width: 120px;
    border: 1px solid #999;
  }
  .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  /* 리스트 */
  .DiaryList {
    max-width: 500px;
    height: auto;
    margin: 30px auto;
    padding: 100px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
    padding: 20px 0;
    margin-top: 80px;
  }
  .DiaryList h2 {
    text-align: center;
  }
  .DiaryList h4 {
    text-align: center;
  }
  /* 아이템 */
  .DiaryItem {
    text-align: center;
    margin-bottom: 10px;
  }
  .DiaryItem .info {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .DiaryItem .content {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .DiaryItem .content input {
    border: 1px solid #999;
    width: 100px;
    height: 50px;
    font-size: 16px;
    padding: 0;
  }
  .DiaryItem .chemi-list .chemi-content {
    font-size: 15px;
    margin: 5px;
  }
  .DiaryItem .chemi-list .chemi-content p {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .DiaryItem .chemi-list .chemi-content span {
    font-size: 10px;
  }
  .DiaryItem .chemi-list .chemi-content:nth-of-type(3n+1) {
    margin-top: 30px;
  }
  .DiaryItem .chemi-list .chemi-content input {
    border: 1px solid #999;
    width: 100px;
    height: 50px;
    font-size: 10px;
  }
  .DiaryItem .chemi-list .chemi-content:nth-of-type(3n-2) span {
    margin-left: 18px;
  }
  .DiaryItem .chemi-list2 .content input {
    width: 150px;
  }
  .DiaryItem .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .DiaryItem .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .DiaryItem .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  .chemi-wrap3 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
    margin-top: 30px;
  }
  .chemi-wrap3 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap3 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap3 .boxlist .box {
    max-width: 500px;
    height: auto;
    margin: 30px auto;
    padding: 30px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
    position: relative;
  }
  .chemi-wrap3 .boxlist .col-box {
    width: 10px;
    border-radius: 15px 0 0 15px;
    padding: 46px 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(111, 118, 193);
  }
  .chemi-wrap3 .boxlist .light {
    background-color: #e6e0ec;
  }
  .chemi-wrap3 .boxlist .img-box {
    background: url(./../../../../../../../public/img/ic-check.png) center/cover;
    width: 25px;
    height: 25px;
    z-index: 1;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
  }
  .chemi-wrap3 .boxlist input {
    width: 160px;
    height: 50px;
    margin-left: 20px;
    padding: 5px;
  }
  .chemi-wrap3 .chemi-name {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  .chemi-wrap3 .chemi-name input {
    height: 15px;
    width: 120px;
    border: 1px solid #999;
    padding: 5px;
  }
  .chemi-wrap3 .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-wrap3 .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-wrap3 .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  .chemi-wrap4 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
    margin-top: 30px;
  }
  .chemi-wrap4 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap4 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap4 .chemi-box {
    max-width: 500px;
    height: auto;
    margin: 30px auto;
    padding: 50px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
  }
  .chemi-wrap4 .chemi-box .chemi-input {
    border: 1px solid #999;
    width: 100px;
    height: 30px;
    margin: 0 auto 20px;
  }
  .chemi-wrap4 .chemi-box .chemi-input input {
    width: 100px;
    height: 30px;
    text-indent: 10px;
  }
  .chemi-wrap4 .chemi-box .chemi-input1 {
    border: 1px solid #999;
    width: 170px;
    height: 130px;
    margin: 0 auto;
  }
  .chemi-wrap4 .chemi-box .chemi-input1 input {
    width: 170px;
    height: 130px;
    text-indent: 10px;
    font-size: 15px;
  }
  .chemi-wrap4 .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-wrap4 .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-wrap4 .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .chemi-wrap1 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
  }
  .chemi-wrap1 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap1 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap1 .boxlist .box {
    max-width: 700px;
    height: auto;
    margin: 30px auto;
    padding: 50px 30px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    position: relative;
  }
  .chemi-wrap1 .boxlist .box .col-box {
    width: 10px;
    border-radius: 15px 0 0 15px;
    padding: 40px 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(111, 118, 193);
  }
  .chemi-wrap1 .boxlist .box .light {
    background-color: #e6e0ec;
  }
  .chemi-wrap1 .boxlist .box .img-box {
    background: url(./../../../../../../../public/img/ic-check.png) center/cover;
    width: 25px;
    height: 25px;
    z-index: 1;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
  }
  .chemi-wrap1 .boxlist .box p {
    margin-left: 20px;
    text-align: left;
  }
  .chemi-wrap1 .box {
    max-width: 1200px;
    height: auto;
    margin: 30px auto;
    padding: 50px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
    color: #202020;
  }
  .chemi-wrap2 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
  }
  .chemi-wrap2 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap2 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap2 .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-wrap2 .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-wrap2 .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  .DiaryEditor .chemi-table {
    text-align: center;
  }
  .DiaryEditor .chemi-table table {
    max-width: 700px;
    height: auto;
    margin: 30px auto;
    padding: 50px 30px 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .DiaryEditor .chemi-table table .table-title {
    max-width: 700px;
    width: 100%;
    background-color: #6F76C1;
    height: 60px;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .DiaryEditor .chemi-table table .table-title p {
    color: #fff;
  }
  .DiaryEditor .chemi-table table .diff {
    background-color: #E6E0EC;
  }
  .DiaryEditor .chemi-table table .diff p {
    color: #999;
  }
  .DiaryEditor .chemi-table table .chemi-table-inner {
    max-width: 700px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .DiaryEditor .chemi-table table .chemi-table-inner tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 80%;
  }
  .DiaryEditor input {
    height: 15px;
    padding: 10px 0;
    width: 300px;
    border: 1px solid #999;
  }
  .DiaryEditor .chemi-name {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  .DiaryEditor .chemi-name input {
    height: 15px;
    width: 120px;
    border: 1px solid #999;
  }
  .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  /* 리스트 */
  .DiaryList {
    max-width: 700px;
    height: auto;
    margin: 30px auto;
    padding: 100px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
    padding: 20px 0;
    margin-top: 80px;
  }
  .DiaryList h2 {
    text-align: center;
  }
  .DiaryList h4 {
    text-align: center;
  }
  /* 아이템 */
  .DiaryItem {
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
  }
  .DiaryItem .info {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .DiaryItem .content {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .DiaryItem .content input {
    border: 1px solid #999;
    width: 300px;
    height: 50px;
    font-size: 16px;
    padding: 0;
  }
  .DiaryItem .chemi-list .chemi-content {
    font-size: 15px;
    margin: 5px;
  }
  .DiaryItem .chemi-list .chemi-content p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .DiaryItem .chemi-list .chemi-content:nth-of-type(3n+1) {
    margin-top: 30px;
  }
  .DiaryItem .chemi-list .chemi-content input {
    border: 1px solid #999;
    width: 300px;
    height: 50px;
  }
  .DiaryItem .chemi-list .chemi-content:nth-of-type(3n-2) span {
    margin-left: 26px;
  }
  .DiaryItem .chemi-list2 span {
    margin-left: 20px;
  }
  .DiaryItem .chemi-list2 input {
    width: 300px;
    height: 20px;
  }
  .DiaryItem .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .DiaryItem .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .DiaryItem .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  .chemi-wrap3 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
  }
  .chemi-wrap3 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap3 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap3 .boxlist .box {
    max-width: 700px;
    height: auto;
    margin: 30px auto;
    padding: 30px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
    position: relative;
  }
  .chemi-wrap3 .boxlist .col-box {
    width: 10px;
    border-radius: 15px 0 0 15px;
    padding: 46px 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(111, 118, 193);
  }
  .chemi-wrap3 .boxlist .light {
    background-color: #e6e0ec;
  }
  .chemi-wrap3 .boxlist .img-box {
    background: url(./../../../../../../../public/img/ic-check.png) center/cover;
    width: 25px;
    height: 25px;
    z-index: 1;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
  }
  .chemi-wrap3 .boxlist input {
    width: 400px;
    height: 50px;
    margin-left: 20px;
    padding: 5px;
  }
  .chemi-wrap3 .chemi-name {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  .chemi-wrap3 .chemi-name input {
    height: 15px;
    width: 120px;
    border: 1px solid #999;
    padding: 5px;
  }
  .chemi-wrap3 .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-wrap3 .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-wrap3 .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
  .chemi-wrap4 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 118, 193);
  }
  .chemi-wrap4 .title h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .chemi-wrap4 .title h3 {
    font-size: 20px;
  }
  .chemi-wrap4 .chemi-box {
    max-width: 700px;
    height: auto;
    margin: 30px auto;
    padding: 50px 30px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.09);
    font-size: 15px;
  }
  .chemi-wrap4 .chemi-box .chemi-input {
    border: 1px solid #999;
    width: 200px;
    height: 30px;
    margin: 0 auto 20px;
  }
  .chemi-wrap4 .chemi-box .chemi-input input {
    width: 200px;
    height: 30px;
    text-indent: 10px;
  }
  .chemi-wrap4 .chemi-box .chemi-input1 {
    border: 1px solid #999;
    width: 400px;
    height: 150px;
    margin: 0 auto;
  }
  .chemi-wrap4 .chemi-box .chemi-input1 input {
    width: 400px;
    height: 150px;
    text-indent: 10px;
    font-size: 15px;
  }
  .chemi-wrap4 .chemi-btn {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    float: right;
  }
  .chemi-wrap4 .chemi-btn button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 8px 2px 62px 0px rgba(34, 51, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
  }
  .chemi-wrap4 .chemi-btn button:hover {
    background-color: rgb(111, 118, 193);
    color: #fff;
  }
}/*# sourceMappingURL=chemi.css.map */