.about-company-wrap {
  margin-top: 50px;
  padding: 50px 20px;
  box-sizing: border-box;
  width: 100%;
  /* summary-area */
}
.about-company-wrap h2 {
  font-size: 25px;
  margin-bottom: 15px;
}
.about-company-wrap .about-summary-area {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 45vw;
  /* sum-copy-box */
}
.about-company-wrap .about-summary-area .sum-copy-box {
  width: 85%;
  height: 18vw;
  padding: 4.5vw;
  box-sizing: border-box;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/public/img/bg02.jpg) no-repeat center/cover;
  border-radius: 20px;
  box-shadow: 0px 11px 23px -9px rgba(0, 0, 0, 0.38);
  display: flex;
  flex-direction: column;
}
.about-company-wrap .about-summary-area .sum-copy-box span {
  color: #fff;
}
.about-company-wrap .about-summary-area .sum-copy-box .copy-sub {
  font-size: 1vw;
  margin-bottom: 1.5vw;
  display: flex;
  flex-wrap: wrap;
}
.about-company-wrap .about-summary-area .sum-copy-box .copy-main {
  font-size: 2vw;
  line-height: 2.3vw;
}
.about-company-wrap .about-summary-area .sum-content-box {
  width: 85%;
  margin: 0 auto;
  padding: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-company-wrap .about-summary-area .sum-content-box .logo-box {
  width: calc(45% - 40px);
  margin-left: 3vw;
}
.about-company-wrap .about-summary-area .sum-content-box .logo-box .logo-text {
  margin-bottom: 30px;
}
.about-company-wrap .about-summary-area .sum-content-box .logo-box .logo-text .txt {
  display: flex;
  font-size: 16px;
  line-height: 30px;
}
.about-company-wrap .about-summary-area .sum-content-box .logo-box .logo-text .txt .txt1 {
  display: block;
  width: 60px;
  margin-right: 20px;
}
.about-company-wrap .about-summary-area .sum-content-box .logo-box .move-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 100%;
  height: 4vw;
  border-radius: 20px;
  border: 0.5px solid #f1f1f1;
  box-shadow: 0px 5px 23px -9px rgba(0, 0, 0, 0.38);
  cursor: pointer;
}
.about-company-wrap .about-summary-area .sum-content-box .logo-box .move-logo:hover {
  box-shadow: 0px 11px 23px -9px rgba(0, 0, 0, 0.38);
  transition: all 0.2s;
}
.about-company-wrap .about-summary-area .sum-content-box .logo-box p {
  font-size: 0.9vw;
  color: rgb(117, 114, 114);
}
.about-company-wrap .about-summary-area .sum-content-box .sum-content {
  width: calc(50% - 20px);
  font-size: 17px;
  line-height: 22px;
  word-break: keep-all;
  color: rgb(117, 114, 114);
}
.about-company-wrap .swiper-area {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40vw;
  margin: 10px 0;
}
.about-company-wrap .swiper-area span {
  font-size: 16px;
  color: rgb(117, 114, 114);
}
.about-company-wrap .about-vision-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.about-company-wrap .about-vision-area .vi-content {
  width: 80%;
  height: 60px;
  display: flex;
  margin: 15px 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: 0px 5px 23px -9px rgba(0, 0, 0, 0.38);
}
.about-company-wrap .about-vision-area .vi-content .vi-title {
  width: 150px;
  height: 60px;
  background-color: #dde3f6;
  border-radius: 30px;
  color: #333333;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}
.about-company-wrap .about-vision-area .vi-content .ad-admin, .about-company-wrap .about-vision-area .vi-content .va-content-box, .about-company-wrap .about-vision-area .vi-content .ac-content-list {
  width: calc(100% - 180px);
  font-size: 16px;
}
.about-company-wrap .about-vision-area .va-content:nth-child(2) {
  margin-top: 5px;
}
.about-company-wrap .about-vision-area .act-val {
  width: 100%;
  height: 400px;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.about-company-wrap .about-vision-area .act-val .ac-content-list {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 300px;
}
.about-company-wrap .about-vision-area .act-val .ac-content-list .ac-content {
  width: calc(20% - 5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0px 5px 23px -9px rgba(0, 0, 0, 0.38);
  word-break: keep-all;
}
.about-company-wrap .about-vision-area .act-val .ac-content-list .ac-content img {
  width: 100px;
  height: 100px;
}

@media (min-width: 758px) and (max-width: 1024px) {
  .about-company-wrap {
    padding: 0;
    /* summary-area */
  }
  .about-company-wrap .about-summary-area {
    padding: 10px 0;
    margin: 30px 0;
    min-height: 60vw;
  }
  .about-company-wrap .about-summary-area .sum-content-box {
    margin: 10px 0;
    padding: 10px 0;
  }
  .about-company-wrap .about-summary-area .sum-content-box .logo-box {
    width: 100%;
    margin-bottom: 30px;
  }
  .about-company-wrap .about-summary-area .sum-content-box .sum-content {
    width: 100%;
  }
  .about-company-wrap .swiper-area {
    height: 550px;
    margin-top: 10px 0;
  }
  .about-company-wrap .swiper-area .swiper-intro {
    font-size: 14px;
    line-height: 20px;
  }
  .about-company-wrap .about-vision-area {
    width: 100%;
    height: 1530px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-company-wrap .about-vision-area .vi-content {
    width: 90%;
    height: 60px;
    display: flex;
    margin: 15px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0px 5px 23px -9px rgba(0, 0, 0, 0.38);
  }
  .about-company-wrap .about-vision-area .vi-content .vi-title {
    width: 150px;
    height: 100%;
    background-color: #dde3f6;
    border-radius: 30px;
    color: #333333;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
  }
  .about-company-wrap .about-vision-area .vi-content .ad-admin, .about-company-wrap .about-vision-area .vi-content .va-content-box, .about-company-wrap .about-vision-area .vi-content .ac-content-list {
    width: calc(100% - 180px);
    font-size: 16px;
  }
  .about-company-wrap .about-vision-area .va-content:nth-child(2) {
    margin-top: 5px;
  }
  .about-company-wrap .about-vision-area .act-val {
    width: 100%;
    height: 600px;
    box-shadow: none;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .about-company-wrap .about-vision-area .act-val .ac-content-list {
    margin: 30px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 1200px;
  }
  .about-company-wrap .about-vision-area .act-val .ac-content-list .ac-content {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0px 5px 23px -9px rgba(0, 0, 0, 0.38);
    word-break: keep-all;
  }
  .about-company-wrap .about-vision-area .act-val .ac-content-list .ac-content img {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 335px) and (max-width: 757px) {
  .about-company-wrap {
    padding: 0;
    /* summary-area */
  }
  .about-company-wrap h2 {
    font-size: 20px;
  }
  .about-company-wrap .about-summary-area {
    width: 100%;
    height: 650px;
    padding: 10px 0;
    margin: 10px 0;
  }
  .about-company-wrap .about-summary-area .sum-copy-box {
    width: 100%;
    height: 200px;
  }
  .about-company-wrap .about-summary-area .sum-copy-box .copy-sub {
    font-size: 12px;
    margin-bottom: 1.5vw;
  }
  .about-company-wrap .about-summary-area .sum-copy-box .copy-main {
    font-size: 16px;
    line-height: 23px;
  }
  .about-company-wrap .about-summary-area .sum-content-box {
    width: 100%;
    height: 300px;
    margin: 15px 0 30px;
    padding: 10px 0;
    font-size: 14px;
  }
  .about-company-wrap .about-summary-area .sum-content-box .logo-box {
    width: 100%;
    margin-bottom: 30px;
  }
  .about-company-wrap .about-summary-area .sum-content-box .logo-box .logo-text {
    margin-bottom: 30px;
  }
  .about-company-wrap .about-summary-area .sum-content-box .logo-box .logo-text .txt {
    font-size: 14px;
    line-height: 22px;
  }
  .about-company-wrap .about-summary-area .sum-content-box .logo-box .logo-text .txt .txt1 {
    width: 60px;
    margin-right: 15px;
  }
  .about-company-wrap .about-summary-area .sum-content-box .logo-box .move-logo {
    height: 40px;
  }
  .about-company-wrap .about-summary-area .sum-content-box .sum-content {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
  .about-company-wrap .swiper-area {
    height: 140vw;
    overflow: hidden;
  }
  .about-company-wrap .swiper-area .swiper-intro {
    font-size: 16px;
    line-height: 20px;
  }
  .about-company-wrap .about-vision-area {
    width: 100%;
    height: 1530px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-company-wrap .about-vision-area .vi-content {
    width: 100%;
    height: 60px;
    display: flex;
    margin: 15px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 0px 5px 23px -9px rgba(0, 0, 0, 0.38);
  }
  .about-company-wrap .about-vision-area .vi-content .vi-title {
    width: 100px;
    height: 100%;
    background-color: #dde3f6;
    border-radius: 30px;
    color: #333333;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
  }
  .about-company-wrap .about-vision-area .vi-content .ad-admin, .about-company-wrap .about-vision-area .vi-content .va-content-box, .about-company-wrap .about-vision-area .vi-content .ac-content-list {
    width: calc(100% - 110px);
    font-size: 14px;
    word-break: keep-all;
  }
  .about-company-wrap .about-vision-area .act-val {
    width: 100%;
    height: 600px;
    box-shadow: none;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .about-company-wrap .about-vision-area .act-val .ac-content-list {
    margin: 30px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 1200px;
  }
  .about-company-wrap .about-vision-area .act-val .ac-content-list .ac-content {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0px 5px 23px -9px rgba(0, 0, 0, 0.38);
    word-break: keep-all;
  }
  .about-company-wrap .about-vision-area .act-val .ac-content-list .ac-content img {
    width: 100px;
    height: 100px;
  }
}/*# sourceMappingURL=aboutCompany.css.map */