.about-company-wrap {
  width: 90%;
  height: 100vh;
  animation: fadein 2s;
  margin: 0 auto;
  padding-top: 2rem;

  .about-company-content {
    width: 100%;
    margin: 4rem auto;
    font-size: 1.2rem;
    line-height: 30px;
    color: #888;
  }
}
