$bgColor: #dde3f6;
$deepColor: #6f76c1;
$deepColorOp: #6f76c16f;
$lightColor: #e6e0ec;
$lightColorOp: #e6e0ec71;

.about-company-wrap{
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  h2{
    font-size: 25px;
  }
  .about-summary-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vw;
    .sum-copy-box{
      width: 85%;
      height: 18vw;
      padding: 4.5vw;
      box-sizing: border-box;
      margin: 0 auto;
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/public/img/bg02.jpg) no-repeat center / cover;
      border-radius: 20px;
      box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 15%);
      display: flex;
      flex-direction: column;
      span{
        color: #fff;
      }
      .copy-sub{
        font-size: 1vw;
        margin-bottom: 1.5vw;
      }
      .copy-main{
        font-size: 2vw;
        line-height: 2.3vw;
      }
    }/* sum-copy-box */
    .sum-content-box{
      width: 85%;
      margin: 0 auto;
      padding: 3vw;
      display: flex;
      flex-wrap: wrap;
      .logo-box{
        width: calc(50% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
          width: 70%;
          margin: 0 auto;
          cursor: pointer;
          &:hover{
            transform: scale(1.03);
            transition: all 0.5s;
          }
        }
        p{
          align-self: flex-start;
          margin-left: 5vw;
        }
      }
      .sum-content{
        width: calc(50% - 20px);
        font-size: 1vw;
        line-height: 1.3vw;
        word-break: keep-all;
        color: rgb(117, 114, 114);
      }
    }
  }/* summary-area */
  .swiper-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40vw;
  }
}