.contents-list {
  width: 300px;
  height: 600px;
  margin: 0px auto;
  border: 1px solid #000;
  margin-bottom: 40px;
}
.contents-list:nth-child(1) {
  margin-top: 40px;
}
.contents-list:nth-child(2) {
  margin-top: 240px;
}
.contents-list:nth-child(3) {
  margin-top: 120px;
}
.contents-list:nth-child(4) {
  margin-top: 280px;
}
.contents-list .contents-title {
  font-size: 35px;
  padding: 3rem 4.5rem;
  line-height: 50px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}
.contents-list div {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 230px 270px;
  background-position: center;
}
.contents-list .contents-title:hover > .contents-list div {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
