.item-inner{
    box-shadow: none !important
}
.titleBanner {
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.titleArea {
    height: 100%;
    font-weight: 700;
    font-size: 20px;
}
.contentLogo {
    width: 300px;
    height: 300px;
    overflow:hidden;
}
.contentLogo img {
    width:100%;
    height:100%;
    object-fit:cover;
}
.siteMap {
    display: flex;
    a {
        display: flex;
        align-items: center;
        text-align: center;
        color: #888;
    }
    
    img {
        width: 17px;
        height: 17px;
        padding-right: 5px;
    }
}
.selfTestBtns {
    width: 100%;
    text-align: center;
    .active button {
        background-color: #4c539a;
    }
}
.selfTestBtns button {
    :first-child {
        margin-right: 10px;
    }
}

.selfTestContainer_title {
    padding: 20px;
    font-size: 30px;
    color: #4c539a;
    text-align: center;
}
.selfTestContainer_sidebar {
    width: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a:first-child {
        margin-bottom: 30px;
    }
    button {
        font-size: 15px;
        width: 80px;
        height: 30px;
        background-color: #fff;
        color: #888;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        box-shadow: 1px 1px 5px 3px #ddd;
    }
    .active button{
        background-color: #4c539a;
        color: #fff;
    }
}
.selfTestContainer_box {
    display: flex;
    padding: 30px 0;
}

.selfTestContainer_content {
    width: calc(100% - 100px);
    height: 400px;
}
.nowContainer {
    width: 100%;
}
.beforeTest_btnArea {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.tempSaveBtn {
    width: 70px;
    height: 25px;
    border-radius: 3px;
    background-color: #fff;
    margin-right: 5px;
    border: 0.5px solid #888;
    cursor: pointer;
}

.writeBtn {
    width: 70px;
    height: 25px;
    border-radius: 3px;
    background-color: #4c539a;
    color: #fff;
    cursor: pointer;
}
.beforeTest_desc {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 1px 1px 5px 3px #ddd;
}
.beforeTest_question {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 1px 1px 5px 3px #ddd;
}
.beforeResult_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.beforeResult_items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.beforeResult_item {
    width: 23%;
    height: 100px;
    border: 1px solid #4c539a;
}
.beforeResult_abilityResult{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    .beforeResult_abilityResult_box{
        width: 23.089%;
        height: 270px;
        text-align: center;
        box-shadow: 1px 1px 5px 3px #ddd;
        margin-right: 15px;
    }
    .beforeResult_abilityResult_box:nth-child(4){
        margin-left: 0;
    }
    .beforeResult_abilityResult_box_title {
        height: 30px;
        line-height: 30px;
    }
}
.beforeResult_chart {
    box-shadow: none;
    margin: 0;
}
.beforeResult_analysisBox{
    width: 100%;
    height: 270px;
    box-shadow: 1px 1px 5px 3px #ddd;
    text-align: center;
}
.afterResult_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.afterResult_beforeBox {
    width: 40%;
    height: 100%;
    box-shadow: 1px 1px 5px 3px #ddd;
}