$bgColor: #dde3f6;
$deepColor: #6f76c1;
$lightColor: #e6e0ec;
.item-form {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  box-sizing: border-box;
  .item-inner {
    max-width: 1200px;
    margin: 30px auto;
    padding: 50px 30px;
    height: 500px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 9%);
    .item-title {
      font-size: 50px;
      color: rgba(111, 118, 193, 1);
    }
    .item-btn {
      font-size: 14px;
      width: 200px;
      height: 50px;
      background-color: rgba(111, 118, 193, 1);
      color: #fff;
      border-radius: 11px;
      border: none;
      cursor: pointer;
      text-align: center;
      box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 10%);
    }
    .item-box {
    }
  }
}
