$bgColor: #dde3f6;
$deepColor: #6f76c1;
$lightColor: #e6e0ec;

.b-writer-wrap {
  width: 100%;
  .b-writer-title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    color: $deepColor;
    padding: 2.5rem;
  }
  #b-writer-title-input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
  }
}
