.edu_notice_wrap {
  width: 85%;
  margin: 0 auto;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}
.edu_notice_wrap .edu_notice_area {
  width: 100%;
  margin: 0 auto;
}
.edu_notice_wrap .edu_notice_area .edu_table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}
.edu_notice_wrap .edu_notice_area .edu_table th {
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #dcdce6;
  padding: 20px;
}
.edu_notice_wrap .edu_notice_area .edu_table td {
  width: 10%;
  text-align: center;
  font-size: 0.7rem;
  padding: 20px;
  border-bottom: 0.5px solid #dcdce6;
  color: #aeaeba;
}
.edu_notice_wrap .edu_notice_area .edu_table td:nth-child(3) {
  width: 80%;
  text-align: start;
  font-size: 0.9rem;
  color: #000;
  padding-left: 5.5rem;
  cursor: pointer;
}
.edu_notice_wrap .edu_notice_area .edu_table td:nth-child(3):hover {
  color: #6f76c1;
}
.edu_notice_wrap .edu_notice_area .edu_detail_wrap .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
}
.edu_notice_wrap .edu_notice_area .edu_detail_wrap .header .title_area {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #dcdce6;
  background-color: #f5f5fa;
}
.edu_notice_wrap .edu_notice_area .edu_detail_wrap .header .title_area .category {
  font-size: 14px;
  margin-right: 20px;
  color: #aeaeba;
}
.edu_notice_wrap .edu_notice_area .edu_detail_wrap .header .title_area .title {
  font-size: 14px;
}
.edu_notice_wrap .edu_notice_area .edu_detail_wrap .header .date {
  padding: 15px 20px;
  border-bottom: 1px solid #dcdce6;
  color: #aeaeba;
}
.edu_notice_wrap .edu_notice_area .edu_detail_wrap .edu-detail-main {
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdce6;
  font-size: 12px;
  line-height: 20px;
}
.edu_notice_wrap .edu_notice_area .edu_detail_wrap .edu-detail-main img {
  width: 60vw;
  margin-bottom: 20px;
}
.edu_notice_wrap .edu_notice_area .edu_detail_wrap .footer .btn {
  width: 120px;
  height: 40px;
  border: 1px solid #dcdce6;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  color: #6f76c1;
}
.edu_notice_wrap .edu_notice_area .edu_detail_wrap .footer .btn:hover {
  border: 1px solid #6f76c1;
}
.edu_notice_wrap .edu_pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 300px;
  padding-top: 25px;
  margin: auto;
}
.edu_notice_wrap .edu_pagination .PrevButton {
  width: 11px;
  height: 18px;
  font-size: 0;
  text-indent: -9999px;
  background: url(/public/img/left.png) no-repeat center/cover;
  cursor: pointer;
}
.edu_notice_wrap .edu_pagination .PrevButton:disabled {
  background: url(/public/img/left-dis.png) no-repeat center/cover;
}
.edu_notice_wrap .edu_pagination .NextButton {
  width: 11px;
  height: 18px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  background: url(/public/img/right.png) no-repeat center/cover;
}
.edu_notice_wrap .edu_pagination .NextButton:disabled {
  background: url(/public/img/right-dis.png) no-repeat center/cover;
}
.edu_notice_wrap .edu_pagination .page_link {
  color: #ccc;
  font-size: 18px;
  font-weight: 800;
}
.edu_notice_wrap .edu_pagination .page_link:hover {
  cursor: pointer;
  color: #6f76c1;
}
.edu_notice_wrap .edu_pagination .page_link.active {
  color: #6f76c1;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .edu_notice_wrap {
    width: 100%;
  }
}
@media (min-width: 335px) and (max-width: 757px) {
  .edu_notice_wrap {
    margin-top: 40px;
    min-width: 100%;
  }
  .edu_notice_wrap .edu_notice_area .edu_table thead {
    display: none;
  }
  .edu_notice_wrap .edu_notice_area .edu_table .tbody {
    border-top: 1px solid #000;
  }
  .edu_notice_wrap .edu_notice_area .edu_table .tbody .body_row {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    border-bottom: 1px solid #dcdce6;
  }
  .edu_notice_wrap .edu_notice_area .edu_table .tbody .body_row td {
    border: none;
  }
  .edu_notice_wrap .edu_notice_area .edu_table .tbody .body_row .idName {
    display: none;
  }
  .edu_notice_wrap .edu_notice_area .edu_table .tbody .body_row .list_cat {
    margin-top: 10px;
    padding: 9px 0;
  }
  .edu_notice_wrap .edu_notice_area .edu_table .tbody .body_row .list_title {
    width: 100%;
    padding: 9px;
    font-size: 14px;
  }
  .edu_notice_wrap .edu_notice_area .edu_table .tbody .body_row .list_date {
    padding: 9px;
    align-self: flex-end;
  }
}/*# sourceMappingURL=EduNotice.css.map */