@media (min-width: 1024px) {
  html,
body {
    height: 100%;
  }
  .ft-wrapper.off {
    display: none;
  }
  .ft-wrapper.off .ft-inner {
    display: none;
  }
  .App {
    min-height: 100%;
    position: relative;
  }
  .item-form {
    margin-top: 100px;
    padding-bottom: 200px;
  }
  .ft-wrapper {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    background-color: #fff;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .ft-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 20px;
    max-width: 1300px;
  }
  .ft-inner .info {
    margin: 0 50px;
  }
  .ft-company-info {
    position: flex;
    padding-right: 16px;
    letter-spacing: -0.5px;
    line-height: 18px;
  }
  .ft-company-info .email {
    text-decoration: underline;
  }
  .ft-company-info {
    color: #656565;
    letter-spacing: -0.5px;
    line-height: 18px;
    font-weight: 440;
  }
  .footer-certification-award {
    display: flex;
    margin-top: 30px;
    align-items: flex-start;
    color: #656565;
  }
  .certification-award1 {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
  }
  .certification-award2 {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
  }
  .certification-award3 {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
  }
  .certification-award4 {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
  }
  .certification-award5 {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
  }
  .award-title {
    margin-right: 20px;
  }
  .awardLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  html,
body {
    height: 100%;
  }
  .App {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
  }
  .ft-wrapper.off {
    display: none;
  }
  .ft-wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
  }
  .ft-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .ft-inner .company {
    margin: 0 10px;
  }
  .ft-inner .info {
    margin: 0 30px;
  }
  .ft-company-info {
    position: flex;
    padding-right: 16px;
    letter-spacing: -0.5px;
    line-height: 18px;
  }
  .ft-company-info .email {
    text-decoration: underline;
  }
  .ft-company-info {
    color: #656565;
    letter-spacing: -0.5px;
    line-height: 18px;
    font-weight: 440;
  }
  .footer-certification-award {
    display: flex;
    margin-top: 30px;
    align-items: flex-start;
    justify-content: center;
    color: #656565;
  }
  .certification-award1 {
    margin-right: 20px;
  }
  .certification-award2 {
    margin-right: 20px;
  }
  .certification-award3 {
    margin-right: 20px;
  }
  .certification-award4 {
    margin-right: 20px;
  }
  .certification-award5 {
    margin-right: 20px;
  }
  .award-title {
    margin-right: 20px;
  }
  .awardLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
@media (min-width: 335px) and (max-width: 757px) {
  html,
body {
    height: 100%;
  }
  .App {
    position: relative;
    min-height: 100%;
    padding-bottom: 200px;
  }
  .ft-wrapper.off {
    display: none;
  }
  .ft-wrapper {
    width: 100%;
    height: 200px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    bottom: 0;
  }
  .ft-inner {
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .ft-inner .info {
    margin: 10px 0;
  }
  .ft-company-info {
    letter-spacing: -0.5px;
    line-height: 18px;
  }
  .ft-company-info .email {
    text-decoration: underline;
  }
  .ft-company-info {
    color: #656565;
    letter-spacing: -0.5px;
    line-height: 18px;
    font-weight: 440;
  }
  .footer-certification-award {
    display: none;
    margin-top: 30px;
    align-items: flex-start;
    justify-content: center;
    color: #656565;
  }
  .certification-award1 {
    margin-right: 20px;
  }
  .certification-award2 {
    margin-right: 20px;
  }
  .certification-award3 {
    margin-right: 20px;
  }
  .certification-award4 {
    margin-right: 20px;
  }
  .certification-award5 {
    margin-right: 20px;
  }
  .award-title {
    margin-right: 20px;
  }
  .awardLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}/*# sourceMappingURL=footer.css.map */