@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "./mixin";
$lightColor: #e6e0ec;
$deepColor: #6f76c1;
@include desktop {
  .connectwith-header {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    color: $deepColor;

    .logo {
      width: 100%;
      height: 70px;
      background: url(/public/img/logo.png) no-repeat left;
      font-size: 0px;
      text-indent: -9999px;
      margin-left: 5%;
    }
    .main-item {
      width: 100%;
      margin-top: 10px;
      .gnb {
        width: 100%;
        display: flex;
        font-size: 20px;
        justify-content: space-between;
        .item-menu {
          width: 150px;
          height: 70px;
          display: flex;
          color: #7a7a7a;
          justify-content: center;
          align-items: center;
          text-decoration: none;
        }
        .item-menu.on {
          color: $deepColor;
        }
      }
      .gnb.off {
        visibility: hidden;
      }
    }
    .link {
      width: 100%;
      height: auto;
      text-align: right;
      margin-right: 5%;
      font-size: 0.9rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-decoration: none;
      color: $lightColor;
      &:hover {
        color: #ccc;
      }
    }
    .connect-with-header-tab {
      display: none;
    }
  }
  .connectwith-header.off {
    background-color: rgba(255, 255, 255, 0);
  }
}
@include tablet {
  .connectwith-header {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    color: $deepColor;

    .logo {
      width: 100%;
      height: 70px;
      background: url(/public/img/logo.png) no-repeat left;
      font-size: 0px;
      text-indent: -9999px;
      margin-left: 5%;
    }
    .main-item {
      width: 80%;
      margin-top: 10px;
      .gnb {
        width: 80%;
        display: flex;
        font-size: 1rem;
        justify-content: space-around;
        .item-menu {
          width: 7.375rem;
          height: 70px;
          display: flex;
          color: #7a7a7a;
          justify-content: center;
          align-items: center;
          text-decoration: none;
        }
        .item-menu.on {
          color: $deepColor;
        }
      }
      .gnb.off {
        visibility: hidden;
      }
    }
    .link {
      width: 100%;
      height: auto;
      text-align: right;
      margin-right: 5%;
      font-size: 0.9rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-decoration: none;
      color: $lightColor;
      &:hover {
        color: #ccc;
      }
    }
    .connect-with-header-tab {
      display: none;
    }
  }
  .connectwith-header.off {
    background-color: rgba(255, 255, 255, 0);
  }
}
@include mobile {
  .connectwith-header {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    color: $deepColor;

    .logo {
      width: 100%;
      height: 70px;
      background: url(/public/img/logo.png) no-repeat left;
      font-size: 0px;
      text-indent: -9999px;
      margin-left: 5%;
    }
    .main-item {
      width: 100%;
      margin-top: 10px;
      .gnb {
        display: none;
      }
    }
    .link {
      display: none;
    }
    .connect-with-header-tab {
      width: 150px;
      height: 150px;
      background: url(/public/img/btn-menu.png) no-repeat center / 80%;
      text-indent: -9999px;
      font-size: 0px;
      margin-right: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .connectwith-header.off {
    background-color: #fff;
  }
}
