@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
table,
textarea {
  font-size: 12px;
  line-height: 16px;
  color: #202020;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
}

textarea {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
  border: 0;
  word-break: keep-all;
  word-wrap: break-word;
}

button,
input {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
}

button {
  background-color: transparent;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

address,
em {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe {
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: top;
}

mark {
  background-color: transparent;
}

i {
  font-style: normal;
}

.blind {
  display: none;
}

.none {
  text-decoration: none;
}


.login-form {
  text-align: center;
}

.error-button {
  width: 417px;
  height: 75px;
  border: 0;
  outline: none;
  border-radius: 5px;
  background-color: #6f76c14e;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 90px;
}

.search-box {
  padding: 10px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  transform: translate(0, -50%);
  height: 30px;
  background-color: #fff;
  border: 1px solid #6f76c1;
  border-radius: 30px;
  transition: 0.4s;
  width: 30px;
}

.search-box .search-txt {
  display: flex;
  padding: 0;
  width: 0px;
  border: none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  transition: 0.4s;
}

.search-box:hover {
  border: none;
  box-shadow: 0px 0px 0.5px 1px #d486ca;
  width: 350px;
}

.search-box:hover .search-btn {
  background-color: #fff;
}

.search-box:hover .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box .search-btn {
  text-decoration: none;
  float: right;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #656565;
  font-size: 20px;
}