.connect-with-area {
  width: 100%;
}
.connect-with-area .connect-with-contents {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  padding: 0px 70px;
  box-sizing: border-box;
}
