@import "./variables";
$bgColor: #dde3f6;
$deepColor: #6f76c1;
$lightColor: #e6e0ec;
$lightgray:#dcdce6;
$textgray:#aeaeba;

.notice-detail-wrap {
  width: 100%;
  animation: fadein 1s;
  .notice-detail-header {
    width: 100%;
    display: flex;
    padding: 0;
    flex-direction: column;
    margin: 20px 0;
    border-bottom: 1px solid $lightgray;
    .notice-detail-title-area{
      display: flex;
      flex-direction: row;
      padding: 15px 20px;
      border-top: 1px solid #000;
      border-bottom: 1px solid $lightgray;
      background-color: #f5f5fa;
      .notice-detail-category {
        font-size: 14px;
        margin-right: 20px;
        color: $textgray;
      }
      .notice-detail-title {
        font-size: 14px;
        color: #000;
      }
    }
    .notice-detail-date {
      padding: 15px 30px;
      color: $textgray;
    }
  }
  .notice-detail-main {
    width: 90%;
    margin: 0 auto;
    .notice-detail-img {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        margin: 0px auto;
      }
    }
    .notice-detail-text {
      margin: 1.5rem auto;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }
  .notice-detail-footer {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid $lightgray;
    .notice-detail-btn {
      width: 120px;
      height: 40px;
      border: 1px solid $lightgray;
      border-radius: 20px;
      margin-top: 20px;
      cursor: pointer;
      color: #6f76c1;
      &:hover{border: 1px solid $deepColor}
    }
  }
}
