@import "./mixin";
$bgColor: #dde3f6;
$deepColor: #6f76c1;
$lightColor: #e6e0ec;
@include desktop {
  .tab-btn-wrap {
    width: 100%;
    height: 100%;
    padding-top: 7rem;
    background-color: #fff;
    .tab-btn-area {
      width: 55%;
      display: flex;
      margin: 0px auto;
      .tab-btn {
        width: 150px;
        height: 50px;
        color: #111;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 2px 2px rgb(34 51 89 / 10%);
        border-radius: 11px;
        font-size: 15px;
        cursor: pointer;
        margin: 0px auto;
        text-decoration: none;
        .tab-btn-list {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .tab-btn.on {
        background-color: rgba(111, 118, 193, 1);
        color: #fff;
        border: none;
        box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 10%);
      }
    }
    .tab-item-title {
      width: 100%;
      margin: 5rem auto;
      color: $deepColor;
      text-align: center;
      font-size: 2.5rem;
    }
  }
}
@include tablet {
  .tab-btn-wrap {
    width: 100%;
    height: 100%;
    padding-top: 7rem;
    background-color: #fff;
    .tab-btn-area {
      width: 70%;
      display: flex;
      margin: 0px auto;
      .tab-btn {
        width: 8.375rem;
        height: 3.125rem;
        color: #111;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 2px 2px rgb(34 51 89 / 10%);
        border-radius: 11px;
        font-size: 15px;
        cursor: pointer;
        margin: 0px auto;
        text-decoration: none;
        .tab-btn-list {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .tab-btn.on {
        background-color: rgba(111, 118, 193, 1);
        color: #fff;
        border: none;
        box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 10%);
      }
    }
    .tab-item-title {
      width: 100%;
      margin: 5rem auto;
      color: $deepColor;
      text-align: center;
      font-size: 2.5rem;
    }
  }
}
@include mobile {
  .tab-btn-wrap {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    background-color: #fff;
    .tab-btn-area {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin: 0px auto;
      .tab-btn {
        width: 12rem;
        height: 3.125rem;
        color: #111;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 2px 2px rgb(34 51 89 / 10%);
        border-radius: 11px;
        font-size: 15px;
        cursor: pointer;
        margin: 1rem auto;
        text-decoration: none;
        .tab-btn-list {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .tab-btn.on {
        background-color: rgba(111, 118, 193, 1);
        color: #fff;
        border: none;
        box-shadow: 8px 2px 62px 0px rgb(34 51 89 / 10%);
      }
    }
    .tab-item-title {
      width: 100%;
      margin: 5rem auto;
      color: $deepColor;
      text-align: center;
      font-size: 2.5rem;
    }
  }
}
